[2017-10-22 20:34] lalitsom opened #369 "Show menu bar once auto hide"
Hey I am using this on windows 7 32 bit. I don't know if this is an actual issue or not.
How to show the menu bar again, once you hide it from menu bar->view->auto hide menubar?

[2017-10-22 22:50] ElPsyCongro opened #370 "Cloud Source support for Citrix Sharefile?"
Hi, is there a possibility that you guys add support for this cloud source in the future?
https://www.citrix.com/products/sharefile/

[2017-10-22 23:34] lalitsom opened #371 "Unhandled Error on saving entry with empty custom label name"
![ggg](https://user-images.githubusercontent.com/23455413/31867456-e650df0e-b7ad-11e7-8ad2-95552955df91.JPG)

If user click on Add new field and then forget to enter label name, the save button will give this not so user friendly error message.
Maybe you could give a nice message that "Please enter label name" or maybe you can give some default label name.

[2017-10-23 14:48] regoremor opened #372 "Broken links"
The links of the installer for Linux are broken on https://buttercup.pw/ and the link to receive a donation is broken too https://opencollective.com/buttercup-desktop/donate

[2017-10-23 15:07] perry-mitchell commented on #372
Closing as this should be in the website repo. Thanks for letting us know @regoremor!

[2017-10-23 15:07] #372 closed

[2017-10-23 15:17] perry-mitchell commented on #372
Where did you see that donate link @regoremor? Can't seem to find it.

[2017-10-23 15:21] regoremor commented on #372
![screenshot from 2017-10-23 11-19-45](https://user-images.githubusercontent.com/9708927/31897384-38c539d4-b7e4-11e7-8981-5fa15c2819e2.png)

[2017-10-23 18:02] sallar commented on #369
@lalitsom I just tested it. You are right... it's "supposed" to come back when you hold the `alt` key (like normal windows apps) but it didnt happen for me. Does it come back when you hold alt?

[2017-10-23 18:04] sallar commented on #370
@ElPsyCongro Hi! Like my colleague mentioned [here](https://github.com/buttercup/buttercup-desktop/issues/280#issuecomment-307188621), this depends on community interest. if someone is willing to put in the effort for the research etc, we'd appreciate it.

[2017-10-23 19:03] perry-mitchell commented on #369
I'm not sure if holding is how it is normally.. At least I've always pressed it once to show the menu 😅

[2017-10-25 04:15] perry-mitchell opened #373 "Import not available"
When trying to import into an unlocked archive, the import options are not available:

![image](https://user-images.githubusercontent.com/3869469/31980282-26094d64-b954-11e7-942a-1b3bcf422d31.png)

[2017-10-25 22:13] lalitsom commented on #369
No it does not come back when I hold alt.

[2017-10-26 08:17] perry-mitchell opened #375 "[Feature] Option to lock archive"
There should be an option to lock an archive, if it is unlocked. Also a menu option to lock all.

[2017-10-27 20:51] the-wazz opened #376 "Grammar (extra text) on welcome screen."
buttercup-desktop/src/renderer/components/empty-view.js

the text: "You haven't added **have** any archives yet. Why not add one?"

possible updates:
"You haven't added any archives yet. Why not add one?"
or
"You don't have any archives yet. Why not add one?

[2017-10-27 20:53] perry-mitchell commented on #376
Ah.. good catch.

I would personally prefer “You haven't added any archives yet. Why not add one?”, as you recommended.

[2017-10-29 15:00] snhasani opened #379 "new group directory disappear after focusout"
In MacOS app when you want to create a new group if after enter group name you focus out from input to somewhere else, group is not creating and group be disappear.

I think this is a UX issue and user should be able submit a group with focus out by tab, click or whatever it could.

[2017-10-29 18:22] perry-mitchell commented on #379
Hi @snhasani - Thanks for posting. You're right, especially in OSX - focus-out does in fact complete the group/folder creation. I would agree that this would be desired behaviour.

[2017-10-29 18:24] #376 closed

[2017-10-29 21:09] snhasani commented on #379
Hey @perry-mitchell , where I can find labels definition? Like `Status: Available`.

and I can fix this issue and you can assign me.

[2017-10-30 06:42] perry-mitchell commented on #379
Hi @snhasani - I've assigned this to you. You can find the label definitions for Buttercup [here](https://github.com/buttercup/roadmap/blob/master/admin/LABEL_DEFINITIONS.md) (thanks for asking, I just added them).

[2017-10-30 21:00] #373 closed

[2017-10-30 21:17] snhasani commented on #371
@sallar you can assign this to me.

I suggest we can ignore empty custom fields and we save just dirty fields. let me know what you think about this.

[2017-10-30 22:11] snhasani commented on #330
@perry-mitchell You can assign it to me. Anyway I fixed already.

[2017-10-31 05:03] perry-mitchell commented on #371
All fields require unique names, so we do require users to actually enter names before saving. Perhaps an error message is inappropriate, but saving should be prevented and the user notified somehow that they should enter the field name.

[2017-10-31 07:12] snhasani commented on #371
@perry-mitchell I totally agree with you, but my suggest specifically is related to the custom field. Because I think its nature is optional and if user add a custom field but didn't fill it, we can just ignore it when we want submit the form. But we could have some validation rule for its value.

[2017-10-31 12:35] perry-mitchell commented on #371
What if a user painfully types out a large amount of text and we delete it when saving because it didn’t have a label?

I would still suggest blocking saving if any part of the form is invalid. Saving while there is invalid data, even by skipping fields, is misleading I feel.

I think the whole red-highlight kind of style when submitting incomplete forms is a nice way to accomplish this, and isn’t

[2017-10-31 12:55] snhasani commented on #371
@perry-mitchell I did not mean we should just have a validation in submit level. I agree with you and I think we must be have validation for each field on field level when blur event.

My mean from ignoring custom field it was when user did not filed any of field inputs. We can just ignore that field when both of them (name and value) was empty.

[2017-10-31 13:03] perry-mitchell commented on #371
Ah, I understand what you meant.. Yes that definitely sounds correct to me also. I would go as far to say that we could delete that _row_ if it is entirely empty.

[2017-10-31 17:40] snhasani commented on #371
So, based on my knowledge I must hit these:

1. Field level validation with good messaging (instant)
2. Submit level normalize and validation with good messaging

And for implement these items I think current design is not good for and we need discuss about this.

For example on field validation we don't have any space between fields row and we can not show the error message under or top of them.

[2017-10-31 18:34] sallar opened #384 "Network Error"
I had Buttercup idle and closed my laptop lid. When I opened it back up a day after I saw this error:

![image](https://user-images.githubusercontent.com/768052/32242198-d4e5dff2-be7a-11e7-96de-b10ba1314ab6.png)

I'm guessing the update checker failed at some point and threw an error.

[2017-10-31 18:48] perry-mitchell commented on #384
I guess it should fail silently?

[2017-10-31 18:56] sallar commented on #384
Yes. We should just add a Noop handler

[2017-11-04 20:25] #384 closed

[2017-11-06 15:42] perry-mitchell opened #387 "Introduction"
Add an introductory procedure to Buttercup. Make it auto open on first run, and have it available from the Help menu. Perhaps use [Intro.js](https://introjs.com/).

Content TBD.

[2017-11-06 15:43] perry-mitchell commented on #387
What's your opinion on intro.js @sallar?

[2017-11-06 17:19] #379 closed

[2017-11-06 17:22] sallar commented on #387
@perry-mitchell Actually intro.js is made by my good friend @afshinm :) Would be nice to use it on desktop!

[2017-11-06 17:51] #330 closed

[2017-11-07 13:57] MR-Mostafa opened #388 "import data from roboform"
Hi,
How can i import data from roboform to buttercup?
In default menu, buttercup only supported 1pass, keepass and lastpass.
thanks.
@sallar

[2017-11-08 07:24] saderi opened #389 "Error on launch"
In Debian 9.0 getting the following error when launching buttercup-desktop 0.22.2 :
`Unhandled Promise Rejection
TypeError: Cannot read property 'catch' of undefined
    at checkForUpdates (/opt/Buttercup/resources/app.asar/dist/app.js:9013:82)
    at startAutoUpdate (/opt/Buttercup/resources/app.asar/dist/app.js:9004:3)
    at setupActions (/opt/Buttercup/resources/app.asar/dist/app.js:34106:97)

[2017-11-09 05:40] scharepmc2hr commented on #389
I'm also getting the similar error on Manjaro after this:

[2017-11-09 05:51] #369 closed

[2017-11-09 10:48] perry-mitchell commented on #388
Hi @MR-Mostafa - I've moved this issue to its correct location: buttercup/buttercup-importer#23.

[2017-11-09 10:48] #388 closed

[2017-11-09 12:37] perry-mitchell opened #390 "JS/Webpack error on fresh launch"
Getting a previously-seen error on a fresh launch after reboot:
![image](https://user-images.githubusercontent.com/3869469/32605755-57ea22dc-c55b-11e7-93d6-bebb4d875e48.png)

[2017-11-10 12:27] aproposnix commented on #389
Same thing in Ubuntu 17.04

[2017-11-10 15:14] asosnovsky opened #391 "Can't use synced-archives (like on dropbox) offline"
**Issue**:
After adding a new archive from Dropbox, it is impossible to use while offline. The following error shows up:
[code]
(I omitted the ID, I am not sure what it is).

**Potential Solution**
Cache the current archive in an offline archive, and upon a connection merge the changes

**System**
OS: Ubuntu 16.04

P.S.
I get the same issue on the mobile app (android LG V20)

[2017-11-10 15:18] gellenburg commented on #389
Same for Windows 10.0.16299 (Fall Creator's Update):

![untitled](https://user-images.githubusercontent.com/7026750/32664834-6debd5da-c600-11e7-97fc-32d5aae3ffe9.png)

[2017-11-10 16:18] sallar commented on #389
@gellenburg Are you sure this is the same error? Does Buttercup work normally regardless of this?

[2017-11-10 16:31] sallar commented on #391
Hi @asosnovsky, Thanks. This is a know issue and popular request. Closing this since it's a duplicate of #307

[2017-11-10 16:31] #391 closed

[2017-11-10 16:39] #389 closed

[2017-11-10 16:52] #390 closed

[2017-11-10 17:07] gellenburg opened #394 "v0.22.3 refuses to launch"
Unable to launch v0.22.3 - Application Error on Startup

Windows 10.0.16299 (Fall Creators' Update)

![image](https://user-images.githubusercontent.com/7026750/32669660-4622d878-c60f-11e7-9799-630521cf4fe4.png)

Windows Event Viewer System Log:

Clarification:

The setup runs, and installs Buttercup. I had to go in and manually approve the Setup to launch since the code is unsigned, but the Setup

[2017-11-10 17:09] sallar commented on #394
Hi @gellenburg. Is this the same error you were experiencing on v0.22.2 too? Could you give one of the earlier versions a try so we can find what is the issue?
https://github.com/buttercup/buttercup-desktop/releases
Is your Windows 32 bit or 64 bit?

[2017-11-10 17:10] gellenburg commented on #394
Yes, same error.

64-bit, Windows 10 Professional. Fall Creators' Update. Developer Mode enabled. Microsoft Surface Studio. 32GB RAM, Intel I7 processor.

Clarification to my original post:

The setup runs, and installs Buttercup. I had to go in and manually approve the Setup to launch since the code is unsigned, but the Setup runs fine.

It's when you go to launch the app AFTER it's been installe

[2017-11-10 17:25] gellenburg commented on #394
Looks like it might be related to the code being unsigned. Still investigating.

Sent from ProtonMail mobile

-------- Original Message --------
On Nov 10, 2017, 12:09, Sallar Kaboli wrote:

[2017-11-10 17:45] gellenburg commented on #394
I had to basically disable all the Windows Defender Exploit Protection Settings for "Buttercup.exe" in order to get it to launch, but it's launching now.

[2017-11-10 17:45] #394 closed

[2017-11-10 17:54] perry-mitchell commented on #394
Guess we have to get that code signing stuff done for Windows.. it’s been delayed for some time now.. 😐

[2017-11-10 18:06] gellenburg commented on #394
Yeah. I realized it might be a code signing issue when I went all the way back to version 0.18 something and THAT still wouldn't launch. Microsoft has beefed up security with the Fall Creators' Update and it's only going to get worse (better?). Weird thing is I have the Developer options enabled and have explicitly told Windows to only warn if launching unsigned code so not sure why that didn't wo

[2017-11-11 19:13] moulip opened #395 "Can't connect to Nextcloud instance"
Hi,

I have installed both buttercup-desktop and Android App, and i can't connect to my Nextcloud instance from both of them.
I get "Network request failed on Android" and "Connection to https://xxxxxx/remote.php/webdav failed. Please check your credentials and try again."

In the server logs no attempt to connect is visible.

[2017-11-11 20:35] perry-mitchell commented on #395
Are you using the Nextcloud archive type? If so, you need only put `https://xxxxxx`, without the `remote.php/webdav` section. If you use **webdav**, however, you would keep that suffix.

Also, while I'm asking, are you by any chance using a self-signed SSL cert?

[2017-11-11 20:47] Xavier73 opened #396 "Hubic archive access"
Hi the Buttercup community,

I did not find any information about Hubic support for archive access in the roadmap.

Such as Dropbox archive access feature #40, it's seem the same procedure to connect at Hubic cloud (OVH) services. Hubic have a [API](https://api.hubic.com/) based on OAuth2 like Dropbox API.

I can implement this feature and his tests if you want ?

I already started looking around

[2017-11-11 21:04] moulip commented on #395
Hi 
I have tried using the url with or without the suffix. Nothing changes. I'm using a cacert certificate but I don't have the ca in the system but I have it in the browser. 

Envoyé depuis mon smartphone Samsung Galaxy.
-------- Message d'origine --------De : Perry Mitchell <notifications@github.com> Date : 11/11/2017  21:35  (GMT+01:00) À : buttercup/buttercup-desktop <buttercup-desktop@noreply

[2017-11-11 21:10] perry-mitchell commented on #396
Hi @Xavier73 - Thanks for taking an interest in adding support for new features. Often times we'll jump at the chance to have functionality added to Buttercup, but the cloud services are a bit different. They're integrations and as such contribute to the overall image of Buttercup as a brand. In my opinion, Hubic is not as mature as I would have hoped, and the reviews I've read are mixed at best.

[2017-11-11 21:14] perry-mitchell commented on #395
Ok, so you're using a recognised SSL certificate vendor, like Verisign or Geotrust, for example?

[2017-11-11 21:29] Xavier73 commented on #396
I did not read this roadmap, shame on me... I understand, and as you say Hubic is not mature enough. The paradox is that Hubic no longer supports WebDAV, that's why I wanted to add Hubic brick to ButterCup, no worry.

So this issue can be closed, thank you :)

[2017-11-11 21:32] perry-mitchell commented on #396
Thanks for understanding. I've been discussing with my colleague that there may be a future possibility here using a plugin-like infrastructure, but we don't have bandwidth to dig into that right at this moment.

All the best!

[2017-11-11 21:32] #396 closed

[2017-11-12 06:58] moulip commented on #395
 No it's a cacert.org.

Envoyé depuis mon smartphone Samsung Galaxy.
-------- Message d'origine --------De : Perry Mitchell <notifications@github.com> Date : 11/11/2017  22:14  (GMT+01:00) À : buttercup/buttercup-desktop <buttercup-desktop@noreply.github.com> Cc : moulip <julien@technoaddict.fr>, Author <author@noreply.github.com> Objet : Re: [buttercup/buttercup-desktop] Can't connect to Nextclou

[2017-11-12 09:45] perry-mitchell commented on #395
Ok, well this is an interesting problem. Could you perhaps try a demo account at [https://demo.nextcloud.com](https://demo.nextcloud.com)? We'll be doing the same to check if there are any issues that have cropped up in say a recent update..

[2017-11-12 14:00] ph1p commented on #285
Hi there! I've written a solution with react-intl. It's not fully complete, but it's an idea how it can be done.
After I pushed my code, I've seen that an i18next branch exists *facepalm*, but this small session helped me to get into the code and I discovered some tricky parts like main folder translation, system files translations in renderer folder, handling dynamic content and the need of resta

[2017-11-12 16:05] moulip commented on #395
Yes that's what I wanted to do. I'll keep you posted. 

Envoyé depuis mon smartphone Samsung Galaxy.
-------- Message d'origine --------De : Perry Mitchell <notifications@github.com> Date : 12/11/2017  10:45  (GMT+01:00) À : buttercup/buttercup-desktop <buttercup-desktop@noreply.github.com> Cc : moulip <julien@technoaddict.fr>, Author <author@noreply.github.com> Objet : Re: [buttercup/buttercup-de

[2017-11-12 17:55] moulip commented on #395
So it appears that it's working with demo.owncloud.com. I don't get what possibly could be wrong with me setup. I have checked the webdav url and it's the same. I can connect to my nextcloud instance using a davs client.

[2017-11-12 18:45] sallar commented on #285
Hi @ph1p. Yes we started working on i18n a while ago but haven't had a chance to continue because of other priorities. Is it possible for you to send a PR to at least discuss your code? I can't promise merging it yet but it would be nice if we had a discussion over a PR.
Thanks for putting in the time to contribute to Buttercup :) Have a nice weekend.

[2017-11-12 18:50] perry-mitchell commented on #395
Interesting.. Have you considered my other proposals? 🙂

[2017-11-12 20:25] moulip commented on #395
What other proposals? The ones regarding the url? 

Envoyé depuis mon smartphone Samsung Galaxy.
-------- Message d'origine --------De : Perry Mitchell <notifications@github.com> Date : 12/11/2017  19:50  (GMT+01:00) À : buttercup/buttercup-desktop <buttercup-desktop@noreply.github.com> Cc : moulip <julien@technoaddict.fr>, Author <author@noreply.github.com> Objet : Re: [buttercup/buttercup-deskto

[2017-11-12 20:31] perry-mitchell commented on #395
😊

[2017-11-12 21:58] moulip commented on #395
Do you use GPG ? I could send you the credentials by encrypted mail.

[2017-11-12 22:26] ph1p commented on #285
Hey @sallar! Sure :)
I was not quite sure, because of the existing branch.
I've created a pull request. First one I've ever made on an public repo 🎉

[2017-11-13 17:10] perry-mitchell commented on #395
Ok, so using just the webdav component I get the following error, even after you changed the certificates:

[code]

So for some reason it seems like the certificates aren't accepted by our client. Will keep looking into this.

[2017-11-13 17:34] perry-mitchell opened #398 "Provide a way to bypass SSL issues for self-signed certificates"
Currently buttercup cannot connect to servers using SSL with self-signed certificates. Refer to the following blocking issues:

 * perry-mitchell/webdav-client#67
 * perry-mitchell/webdav-fs#54

[2017-11-13 22:16] moulip commented on #395
Ok. Problem fixed. I have changed my SSL provider for LetsEncrypt, and then I have replaced the first certificates by the full chain with the intermediate embedded.
Thank you for the time you have spent on my issue.

[2017-11-13 22:16] #395 closed

[2017-11-14 05:15] perry-mitchell commented on #395
Thanks for following up @moulip, and as well for the opportunity to debug using your live server. Hopefully this remains a working solution for you, and it's help highlight the fact that we need some kind of SSL bypass in Buttercup (#398).

All the best!

[2017-11-14 09:01] moulip opened #399 "Add possibility to lock the archive in desktop app"
The mobile app and Firefox extension, allow to lock the archive, whereas in the desktop one, once you have entered the master password, you can't lock the archive without completely closing the app.
Is there something I'm missing ?

[2017-11-14 09:04] perry-mitchell commented on #399
Nope! We definitely need this functionality. There is actually already an issue for this: #375..

Thanks @moulip :smile:

[2017-11-14 09:04] #399 closed

[2017-11-14 09:13] perry-mitchell commented on #370
At this stage I think that we won't implement support for Sharefile - [They support WebDAV](https://support.citrix.com/article/CTX207863), so theoretically their services can already be used with Buttercup already. We'll be recording planned/pending/blocked cloud storage providers in the [roadmap](https://github.com/buttercup/roadmap/blob/master/roadmap/CLOUD_SERVICES.md).

We may reopen this issu

[2017-11-14 09:13] #370 closed

[2017-11-14 09:21] perry-mitchell commented on #280
I'm going to close this for now, as we definitely don't have the bandwidth to add this currently. We would definitely consider a PR to add this to the desktop application and maybe the core library. Further cloud storage integrations can be tracked on our [roadmap](https://github.com/buttercup/roadmap/blob/master/roadmap/CLOUD_SERVICES.md).

[2017-11-14 09:21] #280 closed

[2017-11-14 10:43] moulip commented on #399
Great !

[2017-11-14 19:44] #285 closed

[2017-11-15 13:56] sallar commented on #284
This is done and will be released today. Closing this 🎉

[2017-11-15 13:56] #284 closed

[2017-11-15 18:49] perry-mitchell opened #406 "Locales: Nest some items"
Currently the locales are mostly hyphenated. Some ones, like **errors**, could be prefixed with such a namespace: `error.some-item`, for example.

Change some of the obvious locale property names to namespaced options.

[2017-11-15 19:22] #375 closed

[2017-11-15 22:47] ph1p commented on #406
I thought about nearly the same type of naming, this is why I added `-error`.

**Some proposals + examples:**
- archive - open-archive-file **to** archive.open-file
- entry - add-entry **to** entry.add
- group - new-group **to** group.new
- error - archive-not-found-error **to** error.archive-not-found
- info - archive-saved-loading-info **to** info.archive-saved-loading

[2017-11-16 06:34] perry-mitchell commented on #406
I think that you've got the idea, besides maybe _info_. In my opinion it'd be best to sort by logical area of the app. Errors are their own thing (all messages), but the other areas of the app are very easily distinguishable:

 * Archive(s)
 * Groups
 * Entries
 * Importing
 * Menus
   * Context menu on archives
   * Window menu
   * Context menu on entries etc.
 * Connections (webdav/dropbox etc.

[2017-11-16 11:06] perry-mitchell opened #408 ""About" Buttercup not available when menu not present"
On Ubuntu, for instance, there's no menu that provides the "About" screen.

[2017-11-16 14:40] fmommeja opened #410 "Can't type more than one caracter at a time in Version 0.24.0 (0.24.0)"
Hi, after you merged my translation contribution, I updated to Version 0.24.0 (0.24.0) and since then every time I want to type something in any input field, I can't type more than one caracter at a time.
I have to clik on the field again to be able to type a second one and so on…

Buttercup Version 0.24.0 (0.24.0) on MacOSX 10.9.5 Build 13F1911 - Intel Core i7 RAM 16 Go

Thanks
Frederic

[2017-11-16 15:17] perry-mitchell opened #411 "New Entry focus is broken"
When typing info into a new entry, focus is lost immediately:

![entry_bcup_broken](https://user-images.githubusercontent.com/3869469/32898880-0f95d142-caf2-11e7-8942-758f8a6b7aba.gif)

[2017-11-16 15:18] perry-mitchell commented on #411
Dupe of #410

[2017-11-16 15:18] #411 closed

[2017-11-16 15:19] perry-mitchell commented on #410
Yes, just saw this:

![entry_bcup_broken](https://user-images.githubusercontent.com/3869469/32898943-4033dd30-caf2-11e7-9a5b-df068c7b5499.gif)

[2017-11-16 15:20] perry-mitchell commented on #410
I did notice this on 0.23.0 as well, so I'm not sure when it was introduced..

[2017-11-16 15:43] perry-mitchell commented on #410
It *might* be to do with the react-intl package and the redux forms. There's a couple of [issues](https://github.com/erikras/redux-form/issues/3591) hinting towards that.

[2017-11-16 16:19] ph1p commented on #410
Fast fix: Comment out uglifyJs and build it again.

[2017-11-16 16:32] #410 closed

[2017-11-16 16:45] perry-mitchell commented on #410
@ph1p That's what we did. Thanks guys!!

[2017-11-16 16:45] perry-mitchell commented on #410
Fixed in 0.24.1

[2017-11-17 09:35] sallar opened #416 "Update fails on some connections"
When the app is trying to auto-update, sometimes an error is thrown and the update is cancelled.

**v0.22.3**
I don't know if this happens on higher versions or not.

Restarting the app several times seems to fix the issue. We need to attach an error handler to the download event.

<img width="1083" alt="screen shot 2017-11-17 at 11 33 54" src="https://user-images.githubusercontent.com/768052/3294

[2017-11-17 09:47] sallar opened #417 "Detect system language"
It would be nice if Buttercup could detect the user's OS language and set the language based on that automatically (if available) or fall back to English.

This package can be used: https://github.com/sindresorhus/os-locale

[2017-11-17 13:44] brajabi commented on #417
Happy to give it a hand tonight! 😃

[2017-11-17 15:15] ph1p commented on #371
I've fixed this error in my PR #400

[2017-11-17 15:23] key10 commented on #306
I thought about this feature driving to work today, and was looking at the roadmap to see if was already thought of. Glad to see it's on the team's radar.

An additional feature I had thought about was using the QR code to establish 'trusted device(s)', so that rather than making it a manual process of 'push archive to phone' when desired, the app could have an option to auto-push the archive when

[2017-11-17 15:38] perry-mitchell commented on #306
Yep! From an ease-of-use angle, this is a high priority.

Well, as nice as that would be - we're kinda already there with the app. Archives can be connected to using multiple devices. Changes are merged if 2 places are updated at different times. There's work to be done here in terms of stability, but it functions well. I'm not sure what pushing to trusted devices might accomplish over this, and h

[2017-11-17 15:41] perry-mitchell commented on #306
@sallar This is way old, but I was thinking that if we add this feature, the name could simply be like `basename(filename)` without the extension. The user could then of course change it once scanned.

[2017-11-17 16:00] sallar commented on #363
Closed by #400

[2017-11-17 16:00] #363 closed

[2017-11-17 16:03] sallar commented on #306
@perry-mitchell before reading the other comments, I should mention that I use `basename(filename)` now through out the app. But should we have archive name like mobile? Or can we build it into the core?

[2017-11-17 16:08] perry-mitchell commented on #306
@sallar The core uses archive names in the `ArchiveManager` instance, so everything should have a name. I don't think there's anything wrong with the filename currently in desktop, for now. Happy to look into that as well..

[2017-11-17 16:33] yasharAyari commented on #417
why don't you use 'i18next' instead of 'os-locale' ? we implement it on [lisk-nano](https://github.com/LiskHQ/lisk-nano/) and it works very well. I can implement the same structure in your app , if you want.

[2017-11-17 16:42] perry-mitchell commented on #417
@yasharAyari i18next looks a bit bloated when compared to os-locale. We already have the translation functionality working, all we need is the detection of the _current_ locale on the user's machine.

[2017-11-17 16:47] key10 commented on #306
@perry-mitchell Thanks for quick and detailed response! My thoughts about the 'trusted devices' and utilizing the QR code for initial auth, was to share the archive files between my phone and laptop directly when on the same network, so that each device would have an updated copy to be able to use offline.
I had assumed the 'Cloud Sources' archive connections required a network connection to the c

[2017-11-17 16:59] yasharAyari commented on #417
i18next has no dependency you can use it on the your electron app and on your react app. it has a react [addon](https://github.com/i18next/react-i18next). So you use same library on electron and react for translation.

[2017-11-17 17:03] perry-mitchell opened #419 "Failing builds on AppVeyor"
AppVeyor giving us no love at all:

![image](https://user-images.githubusercontent.com/3869469/32959297-dec7c2d6-cbc9-11e7-84a7-58d047630921.png)

Tests are ultra-erratic and need to be fixed somehow.

[2017-11-17 20:11] violoncelloch opened #421 ""Move to Root" of a folder already in root possible and error on following ctrl+z / undo"
Hi, I just downloaded Buttercup and importet a keepass file and then I accidentally stumbled upon the follwing situation:

If I right klick on a folder already in root and chose "Move to Root" the Folder is gone to nowhere. On a ctrl+z / undo then, the following error appears:

`Unhandled Error
TypeError: Cannot read property 'style' of null
    at hide (file:///C:/Program%20Files/Buttercup/resour

[2017-11-17 20:14] sallar commented on #417
@yasharayari we are already using `react-intl`. This issue is just about “detecting” user’s language instead of setting it to English by default.

[2017-11-17 22:20] BlueBeniHD opened #422 "Error when adding meta"
When I try to add a custom field this error appears:

[code]

But I can edit already created Fields without an error

Please Help me!

[2017-11-17 22:28] perry-mitchell commented on #421
Confirmed.. Seems there's a UI glitch here. You're right in that the menu option should not be available. The archive data should always be fine though - At most it should throw an error and no changes be made.

[2017-11-17 22:29] perry-mitchell commented on #422
Hi @BlueBeniHD - Can you confirm that you're on the latest version? Please try a full restart of the application and try again, if you wouldn't mind. I can't reproduce this on Mac, so I wonder if what you're experiencing is a windows issue.

[2017-11-17 22:30] perry-mitchell commented on #422
@sallar The `at u.setMeta` seems to be when the meta is getting set.. Perhaps verification is failing here..?

[2017-11-17 22:32] perry-mitchell commented on #422
At very least this error message shouldn't appear, so I'm marking this as a bug.

[2017-11-17 22:33] BlueBeniHD commented on #422
Hi, @perry-mitchell Yes I'm on the latest version v.0.24.1.
I'm on Windows, but on my Mac, there is the same issue.

[2017-11-17 22:35] perry-mitchell commented on #422
Ok.. Let's see if we can't narrow this down. Could you please walk me through the exact steps you take to reproduce the error?

A video/gif recording of you recreating the issue would be extremely helpful also.

[2017-11-17 22:36] BlueBeniHD commented on #422
@perry-mitchell I'll be doing this, give me a minute.

[2017-11-17 22:40] perry-mitchell commented on #422
@BlueBeniHD It's quite late here in Helsinki, so if I don't get a chance to look at this tonight I'll continue first thing.

[2017-11-17 22:41] BlueBeniHD commented on #422
@perry-mitchell Maby its important that I'm connected via OwnCloud.
I'm coming from Austria, it's also late here.

[2017-11-18 00:20] ph1p commented on #422
@BlueBeniHD I've fixed this error in my latest PR(#400). It's already merged and labeled with "Needs release".

[2017-11-18 08:53] sallar commented on #422
@BlueBeniHD @perry-mitchell @ph1p We will release a new version today, we can close this after @BlueBeniHD can confirm that it's gone in that version. I'll update here when the version is out.

[2017-11-18 08:56] sallar commented on #419
@perry-mitchell I guess this can be closed since #420 is merged?
I don't see any other options other than these:

+ Remove fsevents and node-sass, which are the main fail points. But a CI system shouldn't care about these so I don't suggest doing this
+ Move to another CI system, that supports Windows, but I haven't been able to find one personally.
+ Wait for AppVeyor to fix it, which is a bit un

[2017-11-18 08:58] perry-mitchell commented on #419
Yeah.. Let's close it unless it occurs again. If it keeps happening I guess we need to consider moving to another CI system. I'm considering self-hosting something if it gets bad (would need to do so for iOS tests too).

[2017-11-18 09:05] perry-mitchell commented on #419
Well.. there goes that idea. `AppVeyor.stability = null`.

[2017-11-18 10:17] #421 closed

[2017-11-18 11:25] BlueBeniHD commented on #422
@perry-mitchell @sallar @ph1p in v0.24.2 the issue is fully gone, thank you for your quick support!

[2017-11-18 11:51] sallar commented on #422
@BlueBeniHD glad to know :) closing this 👍

[2017-11-18 11:51] #422 closed

[2017-11-18 13:20] moulip commented on #375
Hi,

Just to let you all know, I have found a workaround to be able to lock the archive without having to quit the app. Just hit CTRL+r to reload, and it locks the archive in the process.

[2017-11-18 15:32] ph1p commented on #416
I got this error a while ago.
Can't reproduce it.
![zipfailure](https://user-images.githubusercontent.com/15351728/32982017-ed4e345c-cc7d-11e7-9b31-db3fd3983e30.png)

[2017-11-18 15:33] sallar commented on #416
@ph1p Yeah.. I have seen it also.

[2017-11-18 15:48] BlueBeniHD opened #429 "Portable Version"
Is there a way to install buttercup on a school/work system without having an admin account? (without granting superuser rights)

I don't want to install the buttercup browser extension.

[2017-11-18 17:27] perry-mitchell commented on #306
@key10 Thanks for engaging!

This right here is quite advanced stuff! 😅 Wouldn't it be so that if you're on the same network, you're not really offline? If you were offline, then it's the network that's sealed and you'd want to have your archive in an accessible place within the network that all devices could access. The push-to-device thing would be like a decentralised way of sharing, right?

If

[2017-11-18 19:37] perry-mitchell commented on #429
This is a great idea!

[2017-11-19 13:15] BlueBeniHD commented on #429
@perry-mitchell Do you plan this for the future?
It would be very cool if this feature is going to come soon!

[2017-11-19 13:15] BlueBeniHD commented on #429
And sorry for my bad English :/

[2017-11-19 14:53] perry-mitchell commented on #416
I think this should be solved by adding a couple of features:

 * Timeout on the fetch/network request (something sane, like 15 seconds)
 * Logged error when it fails
 * No error shown to the user

[2017-11-19 16:51] perry-mitchell opened #431 "Consider not wrapping some elements on window resize"
Some elements look weird when they wrap:

![image](https://user-images.githubusercontent.com/3869469/32992998-8cdeb73a-cd5a-11e7-9e23-b2b93f83c0d5.png)

[2017-11-20 19:27] RakotStargazer opened #433 "<localisations> Untranslated password tips&hints"
There's some untranslated parts in tips&hints, at least when editing an entry all password-related hints are in english regardless of the selected language, pls see screenshots.
Unfortunately I couldn't find these sentences in the code, so I've no idea how to fix it.

![2017-11-19_21-14-21](https://user-images.githubusercontent.com/33731754/33036406-54d8fe32-ce3f-11e7-8b5f-9303bf7ab1c2.png)
![2017

[2017-11-20 19:57] perry-mitchell commented on #433
Thanks @RakotStargazer - Good observation.

This has been mentioned in the original [localisation PR comments](https://github.com/buttercup/buttercup-desktop/pull/397#issuecomment-344228351): Basically the password generator and some other components, are external and need separate localisation support. For instance, I've added a task on the generator [here](https://github.com/buttercup/buttercup-

[2017-11-20 19:57] #433 closed

[2017-11-20 21:14] RakotStargazer commented on #433
@perry-mitchell don't think these parts related to password generator. PG have it's own pop-up window, and it's untranslated, yes, but the password field tips isn't part of the generator. btw I couldn't find these sentences in ALL the Buttercup's github code (you can try to find the word "Uncommon" for example). It have to be related to some external code that checks if password secure enough. All

[2017-11-20 21:15] RakotStargazer commented on #433
aaaaaand finally after some investigation - these tips are from zxcvbn function (https://www.npmjs.com/package/zxcvbn)

[2017-11-23 18:18] sallar opened #439 "Can't type space into group title input"
When adding a new group or renaming one, "space" character can't be typed.

[2017-11-23 18:19] kanallie commented on #246
Hey,
i just tried it in v0.24.3. It works just fine, if i use "www.google.de" as URL, but it won't work with the value "google.de".
For the test i added the label "URL".

![image](https://user-images.githubusercontent.com/33938386/33185468-15e0f856-d083-11e7-9d96-6deb26812ffa.png)

[2017-11-23 18:29] perry-mitchell commented on #246
@kanallie I can confirm this issue, but for me the `www.` prefix doesn't matter. It only works if the prefix is `https://`/`http://`. I'll open a new issue.

[2017-11-23 18:30] perry-mitchell opened #440 "Opening URL in browser does not work on incomplete URLs"
The "Open URL in Browser" content menu option does not work when the URL is one of the following, for example:

 * `google.com`
 * `www.google.com`

But will for the following:

 * `https://google.com`
 * `http://google.com`

All URLs, no matter what the value, should be launchable..

[2017-11-23 18:31] perry-mitchell commented on #246
I've opened a new issue here: #440

[2017-11-23 18:58] #439 closed

[2017-11-24 10:49] #312 closed

[2017-11-24 10:51] perry-mitchell commented on #16
Ok, so latest update.. Using [iconographer](https://github.com/buttercup/iconographer), this can be added quite easily. Storage for the icons should be on disk.

[2017-11-24 10:52] perry-mitchell commented on #314
This can be easily added to the desktop application using the `EntryFinder` class in [buttercup core](https://github.com/buttercup/buttercup-core/blob/master/API_WEB.md#EntryFinder).

[2017-11-24 17:32] peymanslh opened #443 "Can't open archive in Mac and Windows"
I've been using Buttercup for a few months on Mac, after launch iOS app I use that, and since last week I open my archive in Buttercup for Windows. Now I can't open my archive in Buttercup for Windows and Mac, but I do not have a problem with Buttercup for iOS.

I use Dropbox for sharing archive on Mac, Windows, and iOS.

_Error in Buttercup Mac when entering password:_

![i_f_w1nv](https://user-i

[2017-11-27 13:15] Akimace opened #444 "Support tray-icon/background mode in Windows/Linux"
Hello,
There is possibility to minimise in windows toolbar ? Like internet access icon

[2017-11-29 14:23] hugo-cardenas commented on #406
Hi guys!
Finally I get to give a hand with Buttercup. I thought to pick this as a first simple and boring task, to get going with an easy one and find my way around the project.

[2017-11-29 14:47] hugo-cardenas commented on #314
What were you thinking about this, UX wise?

- Should the new across-folders search completely replace per-folder search, just with the same UI?
  - In case yes, as the results would be potentially a mix of entries from all folders, should it visually "deselect" the folder previously selected?
  - Also, when selecting each of the entries in search results, should it mark its parent folder as selec

[2017-11-29 14:48] perry-mitchell commented on #406
Hey @hugo-cardenas! Welcome. That would be awesome! Let's get through that current PR and you could most definitely take this item :)

[2017-11-29 14:56] perry-mitchell commented on #314
I actually quite like the "All Items" group.. That's a good idea. What do you think @sallar? It would most likely need to be made available in the core, so that every application could easily benefit from it.

I think when searching it should clear the currently selected group..

[2017-11-29 14:57] perry-mitchell commented on #444
Hello again @Akimace - Do you mean like a tray icon? Like this:

![image](https://user-images.githubusercontent.com/3869469/33381309-53c42e98-d526-11e7-953d-41c62f28807c.png)

[2017-11-29 15:37] Akimace commented on #444
@perry-mitchell Yes, like this

[2017-11-29 20:53] #417 closed

[2017-11-29 21:41] perry-mitchell commented on #444
Not currently no.. But it's something we may want to explore for Windows/Linux users.

[2017-11-29 21:43] perry-mitchell commented on #443
Sorry to hear that.. What happens if you save again using the iOS app (make a change)? Does it allow you to open it then on either desktop?

[2017-11-29 21:45] perry-mitchell commented on #406
This is now ready @hugo-cardenas, if you get time. I guess there are already some nested errors, but I think there's a lot that could be categorised. This can obviously be a partial PR due to the large amount of items that may need changing.

[2017-11-29 23:05] ph1p commented on #314
This is my actual search and I added the `EntryFinder` class. I've only one problem. How can I find the group of an entry? I think this is important, because I can't switch folders without this feature.

![kapture 2017-11-29 at 23 48 18](https://user-images.githubusercontent.com/15351728/33403228-cb313960-d55f-11e7-8856-586cdc682f57.gif)

Don't wonder about:
- Hidden entry sidebar
- Search in tree

[2017-11-30 16:30] hugo-cardenas commented on #406
Hi! I created already a PR (#446) in order to discuss better the format as I change things.
I nested the items for the window menu in the English config for now.

Are you guys ok with the structure like this?

Also, I noticed there were some items used in multiple contexts (e.g. `hide`, `copy`, etc). At the moment, for those used from menu + somewhere else, I kept them duplicate, in the new menu s

[2017-11-30 19:24] peymanslh commented on #443
I created a new entry using the iOS and the problem was resolved 👍
Thanks.

[2017-11-30 19:25] perry-mitchell commented on #406
Thoroughly agreed!

Perhaps we should discuss that on the PR 😊

[2017-11-30 19:27] perry-mitchell commented on #443
It's possible that there was some error during writing, but I've tried and have not been able to reproduce this. Please let us know if it occurs again, and we can reopen this.

If it's a reoccurring problem, perhaps you could make a sample archive and then send it to us when it breaks.. Otherwise, thanks for posting!

[2017-11-30 19:27] #443 closed

[2017-11-30 20:32] peymanslh commented on #443
Okay, sure
Thanks again

[2017-12-03 13:35] Hedronmx opened #447 "Can't hide menu bar in Ubuntu"
Could it be possible to add the option to hide the menu bar?
Thanks!

[2017-12-03 16:18] sallar commented on #447
@Hedronmx There is an option already in Buttercup: `View -> Auto-Hide Menubar`
does that work for you?

[2017-12-03 21:19] perry-mitchell opened #449 "Minimum master password strength"
I think we should consider specifying a minimum set of password standards for Buttercup. Users probably adopt a password manager for a number of reasons, but one must be for a sense of security. Trusting Buttercup to securely store someones online profile is a big ask, and we owe it to the users to make some decisions on their behalf when it comes to _sane_ defaults.

Having a required password st

[2017-12-04 17:32] #440 closed

[2017-12-05 16:04] Hedronmx commented on #447
I see no Auto-Hide Menu bar option anywhere.
Any ideas?
![image](https://user-images.githubusercontent.com/26935602/33616826-e87c3f74-d992-11e7-8a66-06411f1f5137.png)

[2017-12-05 19:49] hugo-cardenas commented on #16
Taking this!

[2017-12-05 19:56] perry-mitchell commented on #16
Oh yeah! That’d be amazing!

Let us know how it goes. You could also PR the iconographer repo if you discover issues. You’ll need to setup file-based icon storage in the desktop app with regards to that 😊

[2017-12-06 08:33] #406 closed

[2017-12-06 08:37] sallar commented on #447
@Hedronmx true! I will fix this in next release :)

[2017-12-06 10:53] hugo-cardenas commented on #16
So now after reading a bit of code...

Your idea is, using Iconographer with a file-based icon storage, process entries on update/creation.
This would create image files stored in disk under some specific folder in `App support/etc` (similar as how the Redux state is stored).
Also on entry deletion, the icon would have to be removed.

On entry load, it would need to load also all the existing rela

[2017-12-06 21:11] #447 closed

[2017-12-09 22:28] perry-mitchell opened #453 "Credentials not saved"
This is a critical issue: credentials (new entry) are not saved.

[2017-12-09 22:47] perry-mitchell commented on #453
Issue was during the autoupdate. Will watch for further problems.

[2017-12-10 11:59] hugo-cardenas commented on #16
Ok, here is now some first version of this.
Please @perry-mitchell @sallar tell me what you think.

Those specific image encoding/format concerns are still to be addressed.

I commented several things in the PR code.

[2017-12-10 15:54] perry-mitchell opened #455 "Timeout and error for archive-save process"
Related to #453, it would be great to have a timeout when saving.. say 30 seconds.. which throws an error perhaps. The recent issue I had was due to saving most likely being backed up and not completing. The UI could basically show some kind of error message if the save didn't complete.

This had to do with the update functionality, or something during that period. The save was to a local file, so

[2017-12-11 08:47] reddo opened #456 "Initially hide password when editing entry"
Hi,

Love the app! I have a suggestion though: when clicking to edit an entry, the password is shown unobfuscated; I would prefer it to be hidden (just as a password field is) and having to click a button or icon to reveal, maybe even having to enter the master password again (as chrome does). I think it would be more secure this way, we don't always want to edit or see the password, just the titl

[2017-12-11 09:55] perry-mitchell commented on #456
It could even be on hover, for instance.. there are a variety of options for this.

[2017-12-11 10:08] reddo commented on #456
Asking for master password when trying to unhide would be preferred though 🤓

[2017-12-11 10:09] perry-mitchell commented on #456
I think that this would be overkill.. You've already unlocked the archive.. no point in _unlocking_ something else a second time.

[2017-12-11 10:24] reddo commented on #456
You got a point here. :)

[2017-12-14 20:00] michaelcurry opened #458 "Unable to Import"
For some reason, I am unable to import password archives.  No open window pops up, and I don't see any other way to do this.  I can not simply "open archive" my 1Password file either.

Is this something on my end? OR is this a real problem with the current build? (v0.25.1)

![image](https://user-images.githubusercontent.com/2658933/34011754-fac39940-e0c5-11e7-9d6f-be720b940cb2.png)

[2017-12-14 20:35] perry-mitchell commented on #458
Hi @michaelcurry - This is interesting. I can currently open the dialog just fine:

![image](https://user-images.githubusercontent.com/3869469/34013127-f49b90be-e11e-11e7-867e-fe7be6bfb9d4.png)

(After selecting 1password:)

![image](https://user-images.githubusercontent.com/3869469/34013165-10944626-e11f-11e7-90ae-c92fe5ea3e81.png)

Do you have an archive unlocked while trying this?

[2017-12-14 20:58] michaelcurry commented on #458
Thanks for the quick reply @perry-mitchell

I understand the issue now! You must have an archive created before you can import!

I was unaware that you would be importing TO an archive.  I thought you could Import and it would Create a new archive.

I think a great action item would be to add "create new archive" from the import list OR at least have  info there saying you have to import into an e

[2017-12-14 22:44] hugo-cardenas commented on #453
I actually spent some time today with this issue.
I noticed while in development at some point that entries were not being saved to disk after creating them and reloading (Ctrl+R) the Electron window.

The behaviour was so erratic that it took a while to identify a pattern, but I see this is reproduceable now in `0.25.1`:
- Create an entry with just a title
- Lock the archive or View->Reload (here

[2017-12-15 09:13] sallar commented on #458
@michaelcurry having the menu "say something" maybe in grayed out text would be nice to guide the user. I agree this is a bit confusing. Thanks!

[2017-12-15 09:58] perry-mitchell commented on #458
What about even changing the "Import" label to "Import into existing archive"?

[2017-12-15 17:37] mannp opened #459 "Two 'Te' archive in the left bar that I haven't created...how do I delete please?"
Arch linux version from pacaur.0.25.1-1

Thanks

[2017-12-15 17:44] michaelcurry commented on #458
Yeah, I think that would work great!

Thanks for the quick replies, and great product! I am glad someone is finally making a production quality Cross-Platform password manager.  🥇

[2017-12-17 10:39] sallar commented on #459
@mannp Did this happen the first time you installed the app? You have never used Buttercup before?
Also can you please try unlocking the archives using the password: `1` to see if it unlocks?

[2017-12-17 10:52] sallar commented on #419
@perry-mitchell this issue seems to be fixed since you last fixed it. closing this again!

[2017-12-17 10:52] #419 closed

[2017-12-17 13:09] #456 closed

[2017-12-17 13:58] #458 closed

[2017-12-17 16:09] reddo opened #462 "Hide-able custom fields"
Consider adding an option to set custom field to hide-able, as the password is (for other sensitive information).

[2017-12-17 17:41] perry-mitchell commented on #462
This will require significant changes to the platform, but is doable. It'll need an attribute added to the core. It'll probably need the [config library](https://github.com/buttercup/buttercup-config) to be finished and integrated first.

[2017-12-17 22:07] mannp commented on #459
@sallar not the first time no, it only happened on the last update on AUR.

If I enter a password of '1' it gives me an error of 'archive source not found'.

I thought these were maybe left after the test process as part of the install, but as they only happened on the last update I wasn't sure.

[2017-12-18 03:30] GabrielCoelho opened #463 "Portuguese-BR translation"
Hey, I'm an enthusiast of electron but never put my hands in any electron project. So the Buttercup came up in my discover feed and I like it so much. As i cannot help so much with new features, my first show up here is for an pt-br Translation.

## What I've already did

 - Created a new folder named "pt-br" with a file inside (base.json) with all translations.
 - Added the "pt-br" in the locales

[2017-12-18 10:04] sallar commented on #459
@mannp Could you do us a favor?
Delete your copy and:

1- Install from AUR again, to see if the issue is still there
2- Delete the AUR again and this time download a copy from our Github releases page to see if it's any different.

Thanks.

[2017-12-18 10:45] perry-mitchell opened #464 "Update screenshots"
New screenshots should be taken as the interface has changed significantly. Blocked by #454.

[2017-12-18 10:48] perry-mitchell commented on #463
Hi @GabrielCoelho! Thanks for creating an issue for this. We'd be keen to help you get this addition into the application.

I think the best way from here would be to actually create a PR with your changes which we could review and test. This way we can find what the issue may be a lot faster, and you can see first hand what's needed to get it into the desktop application.

How does that sound?

[2017-12-18 20:55] perry-mitchell opened #466 "Ensure downloaded icons are images"
The icon download functionality needs to confirm that icons are actually images. Depends on buttercup/iconographer#5

[2017-12-19 09:29] crazypingoo94 opened #468 "Could not connect to NextCloud"
Actual version: 0.25.1-1

I can not connect to a Cloud Source (NextCloud).
I don't see any remote directory.

Any ideas ?

[2017-12-19 11:08] mannp commented on #459
Will do, will let you know shortly.

[2017-12-19 16:31] FlorentinDUBOIS opened #470 "Lock open archive with keyboard shorcut"
Hello!

Is it possible to add a keyboard shortcut as `ctrl+l` to lock an open archive?

[2017-12-19 17:39] sallar commented on #470
Thanks @FlorentinDUBOIS this is a great idea.

[2017-12-19 21:48] mannp commented on #459
So I have removed buttervup desktop and removed its config. Rebuilt it using AUR latest version 0.25.2-1 and on start I immediately have a 'Te' archive in the left bar.

If I enter a password of '1' it says the archive is not found and one time it gave me the following error.

I will now try by downloading the code directly.

[2017-12-19 22:29] mannp commented on #324
I have this error today on a recently installed buttercup 0.25.2-1 on arch linux.

I created an archive on nextcloud through the connect cloud sources option and have been using it for a couple of weeks without issue.

Today I try and connect to the archive through the same server and I am getting this error 503 each time.

I am able to open the file locally and the password works fine.

I am also

[2017-12-20 14:11] ziltoidtheomiscient opened #471 "Cannot find module '7zip-bin-linux' on Archlinux"
Hi !

I'm an Archlinux user, and I having problems installing buttercup on my main computer (install have been successfull on another one)

[code]

[2017-12-20 22:02] regoremor opened #472 "Showing errors"
Unhandled Error
Error: net::ERR_CONNECTION_RESET

[2017-12-20 22:04] regoremor commented on #472
Unhandled Promise Rejection
Error: The request timed out.
    at Promise.longStackTracesCaptureStackTrace [as _captureStackTrace] (/Applications/Buttercup.app/Contents/Resources/app.asar/dist/app.js:71297:19)
    at new PromiseSpawn (/Applications/Buttercup.app/Contents/Resources/app.asar/dist/app.js:73267:17)
    at /Applications/Buttercup.app/Contents/Resources/app.asar/dist/app.js:73421:21

[2017-12-21 17:16] sum01 commented on #471
I maintain the [AUR](https://aur.archlinux.org/packages/buttercup-desktop/) for Arch users, and I'd recommend using that.

[2017-12-21 19:41] ziltoidtheomiscient commented on #471
As you can guest, I'm using AUR as well

[2017-12-21 20:42] sallar commented on #471
@sum01 @ziltoidtheomiscient I have not tested actually building "on" a linux machine. The builds are done on a macOS machine for all platforms. I will look into this.

[2017-12-21 20:45] sallar commented on #472
Thanks @regoremor this is a dupe of #416 so I'll close this in favor of that. We'll try to look into it soon.

[2017-12-21 20:45] #472 closed

[2017-12-21 20:46] sallar commented on #269
This is actually done a long time ago. Dont know why it's still open. Closing :)

[2017-12-21 20:46] #269 closed

[2017-12-21 20:47] sallar commented on #468
Hi @crazypingoo94.
Where is your nextcloud instance hosted? Are you using a self-signed certificate for that?

[2017-12-21 20:49] sallar commented on #459
@mannp That `npm test` is what's creating those archives. Ping @sum01.
If the npm test can not be removed from the arch PKGBUILD then I'll have to add a cleanup phase to the tests. But the thing is tests are creating the archives in user's data directory which in theory "should not" end up in the resulting archive...

[2017-12-21 20:51] sallar commented on #444
@Akimace Out of curiosity, what is the behavior for the apps that do this? What do you need to do to an app so it ends up there? And what happens when you click on it?

[2017-12-21 21:14] ziltoidtheomiscient commented on #471
@sallar Thank you

[2017-12-21 21:49] sum01 commented on #459
Sure, I can remove the `check()` from the PKGBUILD. It's purely optional, and I was only doing it for completeness.

[2017-12-21 21:52] sum01 commented on #471
If you look in the `package-lock.json` there's no `7zip-bin-linux`, only `7zip-bin` and `7zip-bin-mac`, so that might be the issue.

Also, why is the [package.json version still on 0.25.1](https://github.com/buttercup/buttercup-desktop/blob/v0.25.2/package.json#L4) when `0.25.2` is tagged?

[2017-12-22 09:50] sallar commented on #459
@mannp can you verify that it works?
@sum01 I need to fix the master. we reverted and package versions are now different.

[2017-12-22 19:40] sum01 commented on #459
@sallar Unless the fixed master is tagged, I can only either revert to `0.25.1`, or build from the commit that increments to `0.25.2`. Unsure of which you'd want, but I think tags are the better option, no?

[2017-12-24 20:25] benyaminsalimi opened #474 "can not remove on unlock one of dropbox archives on mac"
it's happened on one of my archives, and I can not unlock it too
here is the error in unlocking :
`Unhandled Error
TypeError: Cannot read property 'workspace' of undefined
    at u (file:///Applications/Buttercup.app/Contents/Resources/app.asar/dist/main.bundle.js:6:35349)
    at Object.s [as f] (file:///Applications/Buttercup.app/Contents/Resources/app.asar/dist/main.bundle.js:44:3636)
    at C (

[2017-12-25 14:31] umutkacar opened #475 "Delete old Buttercup update files periodically"
Whenever my hard drive runs out of space, I check what's consuming space with WinDirStat.

I encountered severaltimes that Buttercup setup files indeed, fills up the disk.

On **C:\Users\<username>\AppData\Local\Temp** , there are lots of folders with prefix **up-** and under them, there are several files like **buttercup-desktop-setup-0.25.1.exe**  (78 folders with 78 files, totaling 4,88GB)

I c

[2017-12-26 03:03] carlmrichter opened #476 "'Sort by Title' is sorting lowercase apart from uppercase"
When sorting the entries in a group the sorting **algorithm differentiates between lowercase and uppercase** entries. Maybe it is just me, or the german habit of capital letters, but that is pretty annoying.
If you want a alphabettically sorted list, you **have to (re)name the entries** either just lowercase letters or just uppercase letters.

Maybe just give the user the option to choose between

[2017-12-26 09:39] crazypingoo94 commented on #468
Hi @sallar ,

I'm trying to connect here ( https://ncloud.zaclys.com/ ). The SSL certificate looks good.

I'm using buttercup from AUR repo.
Regards,

[2017-12-26 14:52] sallar commented on #475
Hi @umutkacar That is very unusual. I will look that up. Thank you.

[2017-12-26 14:53] sallar commented on #476
Thanks @carlmrichter, I should have ignored casing before sorting. I will fix that.

[2017-12-29 21:25] mannp commented on #471
I have missed whether there is a resolution for this, as I am still getting this error today?

Thanks

[2017-12-29 21:26] mannp commented on #459
@sallar I cannot verify as I canot get buttercup to build due to an electron build issue.

[2017-12-29 21:30] sum01 commented on #471
The only fix would be to go back to v0.25.1, as I believe that wasn't broken. v0.25.2 doesn't have a fix yet. I'll change the PKGBUILD to `0.25.1` for now, give me a minute to do it. @mannp

[2017-12-29 21:41] sum01 commented on #471
Hm, trying to build 0.25.1 failed with the same issue. It seems I'd have to go back to `0.25.0` as that actually has `7zip-bin-linux` in the `package-lock.json`

[2017-12-29 21:47] sum01 commented on #471
https://github.com/buttercup/buttercup-desktop/commit/61933599f8e1e2307bb351193b9cb2021f6f01ba#diff-32607347f8126e6534ebc7ebaec4853dL19 removes `7zip-bin-linux`. @sallar

[2017-12-29 22:17] sum01 commented on #471
@mannp @ziltoidtheomiscient The AUR pkgbuild should work now. I put out a (lazy) patch to temporarily fix this.

[2017-12-29 22:18] sum01 commented on #459
Can probably close this since I removed the `check()` from the PKGBUILD, so it shouldn't create these anymore. @mannp

[2017-12-30 09:56] ziltoidtheomiscient commented on #471
@sum01 Thanks I'll try right now

[2017-12-30 10:17] ziltoidtheomiscient commented on #471
@sum01 It worked ! Thx a lot :blush:

[2017-12-31 01:16] mannp commented on #471
@sum01 Thanks for doing the changes, will give them a try tomorrow now.

[2017-12-31 10:43] mannp commented on #459
@sum01 thanks for the changes and @sallar thanks for the help; closing as this is now resolved for me.

[2017-12-31 10:43] #459 closed

[2018-01-01 12:14] sallar commented on #471
@sum01 sorry I have been taking a few days off. What do I need to do to fix it?

[2018-01-01 18:36] sum01 commented on #471
@sallar I don't know the correct way to fix it (I don't really deal with npm much), so I just shoehorned in the dependency into `package.json` here https://aur.archlinux.org/cgit/aur.git/tree/fix_arch.patch?h=buttercup-desktop

I guess you could just use the patch if you wanted, or do it a different (more correct?) way, up to you.

[2018-01-05 15:14] moulip opened #478 "Check for updates menu does not do anything"
Hi,

In the desktop app, the Help menu has a "Check for Updates" function. When I click on it, nothing is happening, even if there are some updates available.

[2018-01-05 16:20] sallar commented on #478
Hi @moulip
Could you please paste some parts of Buttercup log here so we can debug?

+ on Linux: ~/.config/Buttercup/log.log
+ on OS X: ~/Library/Logs/Buttercup/log.log
+ on Windows: %USERPROFILE%\AppData\Roaming\Buttercup\log.log

[2018-01-05 17:50] moulip commented on #478
Hi Sallar,

Please find the logs below. Also please note I'm using Debian Buster
and I have of course the latest Buttercup version.

[2018-01-05 18:48:35:0581] [info] Checking for update
[2018-01-05 18:48:35:0591] [error] Error: Error: ENOENT: no such file
or directory, open '/opt/Buttercup/resources/app-update.yml'
    at Promise.longStackTracesCaptureStackTrace [as _captureStackTrace]
(/opt/Butt

[2018-01-05 20:59] sallar commented on #478
@moulip Thanks. Your issue looks like this:
https://github.com/electron-userland/electron-builder/issues/2364
I'll investigate.

[2018-01-08 08:10] perry-mitchell commented on #453
I was able to reproduce this while I was back in Australia for Christmas. My server is in Helsinki so the latency was quite high compared to usual. I would add new items to a credential (new meta), save the changes and then immediately close.

The app closes straight away (no saving message), and the changes are not written to the remote.

[2018-01-08 08:47] sallar commented on #453
@perry-mitchell then this is a huge problem. since we had those queues, it seems that they are not written to the queue. If you dont close the app immediately, are they written correctly?

[2018-01-08 15:09] perry-mitchell commented on #444
@sallar I guess it would have to operate very similarly to the mac one. Mac runs as a daemon when closed unless it's forced to close. That allows for quick start up and I presume continual execution in the background even when no windows are shown.

On windows you could have the same, plus a context menu that could potentially look like:

 * **Show Buttercup**
 * Lock all archives
 * Quit

[2018-01-08 15:15] perry-mitchell commented on #468
@crazypingoo94 The next step here is to test this issue ourselves, if you're unable to debug it further.

I'm contactable on keybase as perrymitchell - You could create us a limited and temporary account on your nextcloud system that we could test with. If you do decide to do this, remember not to share the credentials here (only on keybase).

[2018-01-08 15:16] perry-mitchell commented on #475
@sallar @umutkacar I've updated the details of this issue to make it a feature.

[2018-01-08 15:20] perry-mitchell commented on #471
Well, it's removed from the package-lock, which is updated upon each execution of `npm install`. There was no actual removal within package.json it seems (at least not on that commit in which it changed). Perhaps it was removed as a dependency by some other library we use? I couldn't see any using it there though.

[2018-01-08 15:25] perry-mitchell commented on #453
Not 100% sure @sallar.. I'll try again on VPN shortly.

[2018-01-08 17:20] sallar commented on #471
@perry-mitchell this 7zip dep is always causing trouble lol. I think its electron-builder that installs it. I think it's removed when we were trying to update some deps or something

[2018-01-08 17:22] sallar commented on #444
@perry-mitchell so it's similar to running in macOS dock then?

[2018-01-10 10:59] benseitz commented on #278
@nd4pa  any news on that PR?

@fmommeja I agree! Alternatively: #78 is a `Priority:High` Issue for making the master password changeable. Unfortunately with no news

[2018-01-10 17:08] perry-mitchell commented on #78
This is now possible to implement using Buttercup core version 1.2.0 (support added for changing the password). /cc @sallar

[2018-01-10 17:09] perry-mitchell commented on #278
Apologies regarding the lateness there - We're now working to complete the password-change feature. It's already been added in core.

[2018-01-11 02:20] #463 closed

[2018-01-11 22:00] hidekiss opened #481 "RPM installation on Fedora 27 fails"
I tried the command: rpm -i buttercup-desktop-0.25.2.x86_64.rpm
but the message that showed was:
erro: buttercup-desktop-0.25.2.x86_64(1).rpm: signature region 62: tag number mismatch il 7 ril 6 dl 792 rdl 380

erro: buttercup-desktop-0.25.2.x86_64(1).rpm não pode ser instalado //(couldn't be installed)

[2018-01-12 10:09] alireza-ahmadi commented on #476
@sallar I like to send a Pull Request for this, does this issue been resolved?

[2018-01-12 10:29] sallar commented on #476
@alireza-ahmadi it's available. Feel free to take it :)

[2018-01-12 10:39] alireza-ahmadi commented on #476
@sallar Great, should lowercasing items only get applied to entries or it should get applied to the groups as well?

[2018-01-12 10:46] sallar commented on #476
@alireza-ahmadi there is a generic sort function on buttercup, it can be done there so its applied everywhere

[2018-01-12 13:15] sallar commented on #278
@benseitz Thats WIP. Coming soon in next release :)

[2018-01-12 13:17] fmommeja commented on #278
@perry-mitchell @sallar Great news!!!  Thanks! 👍

[2018-01-12 13:47] #476 closed

[2018-01-13 16:15] AndreyIvanovSetronica opened #484 "Attachments support"
What about to have the ability to attach some files like archives, secret keys etc? In my opinion it is necessary for such application.

[2018-01-13 19:30] perry-mitchell commented on #484
Please watch your tone @tiaga.. No need for that kind of attitude here.

We don't have attachment support because it hasn't been developed yet. I think it's definitely a must-have feature but we haven't yet landed on a way to implement it in a way that is:
 1. Future proof (so we don't support an undesirable system)
 2. Well performing (doesn't decrease archive decryption speed)
 3. Secure

When w

[2018-01-13 19:33] perry-mitchell commented on #481
Currently neither of us have access to a Fedora machine, and have not had time to make a virtual machine to test this. We'd appreciate any help the community can provide in debugging this. If this is an issue with the packager we use we can make the necessary changes once we know what's causing the issue.

[2018-01-13 19:35] perry-mitchell commented on #468
Haven't heard anything from you regarding the possibility to have a test account @crazypingoo94 - Any chance you might be amenable on this front? 😊

[2018-01-16 19:50] perry-mitchell opened #486 "Use non-minified buttercup core library (speed issue)"
The core currently has an issue with minification, in that the `buttercup-web.min.js` asset is much slower than the non-minified copy when it comes to crypto (locking/unlocking archives via `ArchiveManager`).

Issue: buttercup/buttercup-core#199

Use the non-minified copy for now.

[2018-01-16 20:02] eldragon87 commented on #481
I am trying to install the RPM package in Fedora 27, however, the following error appears in the file

[code]

I hope it helps with the debugging.

[2018-01-17 05:39] perry-mitchell commented on #481
Thanks for the dump @eldragon87. Unfortunately python traces don't help much right now, as the whole library is configured with JS, but perhaps it might when we start digging into this. I'll try to get a Fedora machine up today.

[2018-01-17 10:48] perry-mitchell commented on #481
Tested on a new Fedora 27 VM today and was able to reproduce. Tried both `dnf` and `rpm` for installs, both failed with the `tag number mismatch` error (dnf was much more verbose like @eldragon87 pointed out).

It looks like this is a somewhat [common error](https://github.com/intel-aero/meta-intel-aero/issues/219), and I'm wondering if it has to do with how electron-builder creates the rpm (/cc @

[2018-01-17 10:55] perry-mitchell commented on #481
@hidekiss @eldragon87 I was able to install the AppImage file easily on Fedora 27, so I would recommend going that route:

![image](https://user-images.githubusercontent.com/3869469/35039118-929fde2a-fb85-11e7-8220-d72aa171de03.png)

Download the AppImage and run `chmod +x buttercup.AppImage` (obviously with the correct filename). Then just run it: `./buttercup.AppImage`. Say yes to integrating an

[2018-01-20 22:10] RaboliotTheGreat commented on #481
I've also encounter this error with the RPM package.
But I cloned the repo, rebuild the RPM package and I was able to install the package.

[2018-01-21 12:49] alirezavalizade opened #487 "Use PureComponent instead of Component"
I'm trying this cool library (https://github.com/maicki/why-did-you-update) to detect unnecessary re-renders. I found and change them from `Component` to `PureComponent`.
For example:

![screen shot 2018-01-21 at 3 43 34 pm](https://user-images.githubusercontent.com/14992757/35194296-78feead0-fec6-11e7-9eea-dbc2d9ab85ad.png)

[2018-01-21 18:08] perry-mitchell commented on #481
@RaboliotTheGreat what system did you build on? We build on Mac, so I wonder if that has anything to do with it.. I doubt it, but it could be a system dependency different between yours and ours.

[2018-01-21 20:32] RaboliotTheGreat commented on #481
The first time was on a newly installed fedora 27.
On a new fedora VM, I tried to install the .rpm from the website and it fails as expected.

So on the same VM, I decided to build the package :
The version of node and npm installed were :
[code]

[2018-01-22 05:14] perry-mitchell commented on #481
It seems like this didn't help you much though, right? I mean, you still had heaps of dependency issues. We've always built the linux binaries on Mac without issue before.. I guess either we haven't properly tested RPM builds before or there's been some kind of regression.

I'd prefer not to resort to building on the native platforms as that's a lot of work for a single release. If we can build Wi

[2018-01-22 05:43] eldragon87 commented on #481
I understand the decision. In that case I suggest you remove the RPM from the website to avoid confusion and suggest personal compilation or AppImage.

[2018-01-22 08:48] RaboliotTheGrey commented on #481
@perry-mitchell I think a way to "fix" this dependency issue can be to add Buttercup on RPM Fusion (It's a sort of community repository, like AUR). I could look into it and if you want I will be glad to "maintain" this package.

It's also seems that the electron builder also make a .snap (It certainly could be used to install on almost any linux platform)

[2018-01-22 09:11] #487 closed

[2018-02-02 09:47] #78 closed

[2018-02-02 22:23] brooksbecton commented on #470
Hello! I would like to try this.

I know I can listen for the key press with this code and then probably set off an action to lock the program, but I wasn't sure where the best spot for the event to start listening at would be

[code]

Thanks

[2018-02-02 22:26] sallar commented on #470
Hi there!
We have a file for that: https://github.com/buttercup/buttercup-desktop/blob/master/src/renderer/system/shortcuts.js

You can add a shortcut here and use redux and  `getArchiveManager()` to find the active archive and lock it.

Thanks!

[2018-02-03 02:24] sum01 commented on #471
The patch I was using isn't needed to build on v.0.26.0, so I guess something fixed the issue.

[2018-02-03 14:14] numb95 opened #492 "Problem with authenticating to Dropbox"
Hey dudes. Thanks for buttercup :heart:

I have a problem with authentication Dropbox. I click on add archive and then connect cloud sources. then select Dropbox, an screen show me a blue button to authenticate to dropbox but when i click on it, it shows me just a white screen. When i toggle dev tools to see the sources the entire screen is empty with no content in it.
I pass it through a proxy bu

[2018-02-03 15:19] sallar commented on #492
Hi there.

The white screen is supposed to be dropbox.com. Can you open Developer Tools on that window with the white screen (Cmd+Alt+I) and reload the page (Cmd+R) and let us know what you see in the network tab?

Thanks

[2018-02-03 17:23] brooksbecton commented on #470
Working on it in #493

[2018-02-04 09:38] numb95 commented on #492
Hi.
Here is the result:
![screenshot from 2018-02-04 13-06-36](https://user-images.githubusercontent.com/1831847/35776149-52c599ae-09ac-11e8-988d-0e22138665ba.png)

it's trying to send a request to [this](https://www.dropbox.com/1/oauth2/authorize?client_id=5fstmwjaisrt06t&redirect_uri=https://buttercup.pw/&response_type=token) but it can't

[2018-02-04 10:03] #470 closed

[2018-02-05 06:53] perry-mitchell commented on #486
I don't actually feel that there's a speed issue at all currently. It seems that there was in the browser extension, but the desktop app I feel handles the crypto stuff quite quickly. Thoughts @sallar?

[2018-02-05 08:34] sallar commented on #486
@perry-mitchell crypto stuff are quick yes... There is a lag in the desktop application which is quite general. but MAYBE thats the redux store syncing or something... maybe we should rename this issue or close it for now?

[2018-02-05 21:36] #486 closed

[2018-02-05 22:28] #16 closed

[2018-02-06 12:41] perry-mitchell opened #495 "New release (1.0) icon system instabilities"
Icons don't show for some reason. Many requests occur over and over again to icon URLs that fail.

[2018-02-06 13:38] #495 closed

[2018-02-06 17:14] perry-mitchell commented on #474
I can confirm that I get this issue as well:

![image](https://user-images.githubusercontent.com/3869469/35873261-df7e5536-0b71-11e8-9cbb-ae5eb123836e.png)

[code]

[2018-02-06 18:40] sallar opened #497 "Entries list has a performance issue with icons"
Since we have enabled icon support, clicking on categories with a long list of entries, causes a lag and delay. I think it's caused by the function that checks for the icon existence. I think that should be done async. Here's a gif of the issue:

![lag](https://user-images.githubusercontent.com/768052/35877392-d81c4418-0b7d-11e8-9a5f-567ec0c60542.gif)

(there a 1-2 seconds delay between clicking "

[2018-02-06 20:09] mannp opened #499 "1Password Import Fails - Nothing appears?"
**Congrats on the v1.x release :) looks great.**

Trying to transfer my 1password details and I export the 1pif from 1P and import into Buttercup for 'Imported 1password archive' to be added as a new group in my buttercup archive, but that entry is empty?

Fails on a mac and on arch linux.

Not entirely sure where to find the logs, but will try and give you some specifics shortly.

If it matters i

[2018-02-07 06:34] perry-mitchell opened #500 "Linux icon has reverted to Electron"
The icon on linux no longer appears:

![image](https://user-images.githubusercontent.com/3869469/35901878-a3644090-0be1-11e8-8fa6-7a2cadcaf393.png)

![image](https://user-images.githubusercontent.com/3869469/35901898-bf031bdc-0be1-11e8-94de-a197d3fa9035.png)

Running Ubuntu 16.04. Buttercup 1.0.1.

[2018-02-07 06:36] #464 closed

[2018-02-07 06:39] perry-mitchell commented on #492
Could it be a network issue perhaps? I'm able to reach that screen on all of my computers:

![image](https://user-images.githubusercontent.com/3869469/35902027-57088dd6-0be2-11e8-9880-9551b68cddfb.png)

Could you try on another network/machine possibly @numb95?

[2018-02-07 06:41] #466 closed

[2018-02-07 07:14] gschoenberger commented on #500
I can confirm the issue with the electron icon!

I am also not able to change the icon for a specific entry:
![image](https://user-images.githubusercontent.com/1648307/35903304-da5a539e-0bde-11e8-80f2-d394ebfd1a86.png)

Can you tell how to change an icon for an entry, or is this feature not available under Linux?

[2018-02-07 08:18] fmommeja opened #501 "SOLVED - 1.0.1 issues error on launch and doesn't open archive anymore…"
Here are the errors on Mac OSX 10.9.5:

Unhandled Error
TypeError: Cannot read property 'primary' of undefined
    at c (file:///Applications/Buttercup.app/Contents/Resources/app.asar/dist/main.bundle.js:6:953139)
    at Object.s [as f] (file:///Applications/Buttercup.app/Contents/Resources/app.asar/dist/main.bundle.js:44:3636)
    at O (file:///Applications/Buttercup.app/Contents/Resources/app.as

[2018-02-07 08:21] fmommeja commented on #501
That was just happening after the automatic update…
Quitting and relauching Buttercup solved the issue.

Thanks

Fred

[2018-02-07 08:21] #501 closed

[2018-02-07 08:53] n8v8R commented on #394
I am wondering why the issue has been closed when apparently it is still present with version 1.0.1? The coder is apparently still not signed in alignment with the W10 Defender directives. Buttercup is the sole application on this machine with such trouble.

What are the plans to get this sorted?

[2018-02-07 09:48] n8v8R commented on #394
It seems it is not a code signing issue at all, at least on this user's machine. Turning off ASLR gets Buttercup up and running.

![aslr](https://user-images.githubusercontent.com/13611490/35909613-7335f50e-0bf4-11e8-84e5-9010d5815e8f.PNG)

[2018-02-07 09:57] n8v8R opened #502 "[bug/request] ASLR compliance"
W10 Pro _x64 1709 b16299.125
BC 1.0.1

With W Defender ASLR exploit set to `On by default` BC would fail to start

![bc fail start](https://user-images.githubusercontent.com/13611490/35909953-57792b0a-0bf5-11e8-82e6-e3a458357eff.PNG)

Overriding the ASLR setting in W Defender gets BC up and running

![aslr](https://user-images.githubusercontent.com/13611490/35910032-92dac3ca-0bf5-11e8-9e81-7e9b23e

[2018-02-07 10:26] n8v8R opened #503 "import of CSV exported from Enpass fails"
W10 Pro _x64 1709 b16299.125
BC 1.0.1

![import failed](https://user-images.githubusercontent.com/13611490/35911061-03991582-0bf9-11e8-8af4-77740b65b6c3.PNG)

The structure of the CSV from Enpass

![csv structure](https://user-images.githubusercontent.com/13611490/35911270-a3c341fe-0bf9-11e8-9b94-774745ba1994.png)

[2018-02-07 11:27] n8v8R commented on #444
Looking forward of this being implement. There is no need for BC to occupy space on the taskbar, a tray icon would be neat indeed, option to tray on minimize and/or close.

![tray option](https://user-images.githubusercontent.com/13611490/35914076-32fd6ea0-0c02-11e8-9bde-c19667886303.PNG)

And to auto-start upon OS boot

[2018-02-07 14:57] perry-mitchell commented on #502
We currently use Electron to build our apps - We don't have, to my knowledge, direct control over the built artifacts. The best we can do at this stage is to sign the executable and installer. I believe this *should* be resolved once that's been done. All subject to time and costs of course.

[2018-02-07 14:59] perry-mitchell commented on #503
Blocked by this issue: buttercup/buttercup-importer#16

[2018-02-07 14:59] perry-mitchell commented on #503
I updated the title as Enpass is not officially supported, so it can't really be categorised as a bug.

[2018-02-07 15:00] n8v8R commented on #502
code signature and [ASLR](https://en.wikipedia.org/wiki/Address_space_layout_randomization) are somewhat different.

[2018-02-07 19:33] sallar commented on #500
@gschoenberger Changing of the entry icon is not possible yet. But if you add a custom field called "URL" and put a URL in there, it will load an icon for that url.

<img width="514" alt="image" src="https://user-images.githubusercontent.com/768052/35937323-8db31fa6-0c4e-11e8-8925-c907256aad8b.png">

[2018-02-08 09:16] moulip opened #505 "The app is taking 100% CPU and freezed"
I have upgraded to the latest version, and it has an annoying behavior. When I open the app, let's say I create a new entry, the app is freezing and the laptop's fan is spinning loudly. I can't do anything inside the app for 2 minutes and then it calms down and I can continue what i was doing. It seems it has something to do with the icons fetching.

[2018-02-08 20:21] #500 closed

[2018-02-09 19:13] sallar commented on #505
Thanks @moulip, I've done a fix for that. We'll try to get it in soon.
https://github.com/buttercup/buttercup-desktop/pull/506

[2018-02-09 22:07] #497 closed

[2018-02-09 22:07] #505 closed

[2018-02-10 03:22] farskid opened #509 "Unhandled promise rejection"
Thanks for the great job on buttercup 👍
I just installed desktop version using `brew cask` and creates a new archive.
Once entered the app after the archive step, I got this unhandled promise rejection alert.

Might also worth noting that I pushed the **check for updates** option too.

See attached image for more details:
<img width="947" alt="buttercup_error" src="https://user-images.githubuserco

[2018-02-10 17:15] RaboliotTheGrey commented on #481
@perry-mitchell I just installed the lastest release from your website (v1.0.1), it seems this issue is solved.

There is just two minor bugs, the first one is that the electron logo is display instead of the buttercup logo (Tested on Fedora and Debian (both with Gnome)):
![butter](https://user-images.githubusercontent.com/16151806/36064600-d3998028-0e8d-11e8-8351-c2b78c04cad7.png)
The second is a

[2018-02-10 18:54] perry-mitchell commented on #481
@RaboliotTheGrey Are you saying that you were able to install the rpm build?

#500 was the issue regarding the icon. It's been addressed in 9645ba7000a39d0f61fc5e7b377845d591df108a, which will be released soon.

[2018-02-10 19:40] RaboliotTheGrey commented on #481
@perry-mitchell well then ... I'm able to install it without a problem on my laptop (I used to build Buttercup with it), but I just tried on a VM and it returns the usual error. I've absolutely no idea from what is can come ...

Oh sorry my bad about the #500 :/

[2018-02-11 09:20] perry-mitchell commented on #481
No problem! The rpm issue is quite strange. Thanks for checking into it.

New release with the icons fix should be out soon. Installing via AppImage or Snap is recommended until rpm builds are fixed.

[2018-02-11 10:51] sallar commented on #478
Hi @moulip, can you try updating to v1.0.1 manually to see if this issue is still there?

[2018-02-11 12:34] moulip commented on #478
Hi Sallar,
Sure will do. I'll keep you posted.

Envoyé depuis mon smartphone Samsung Galaxy.
-------- Message d'origine --------De : Sallar Kaboli <notifications@github.com> Date : 11/02/2018  11:51  (GMT+01:00) À : buttercup/buttercup-desktop <buttercup-desktop@noreply.github.com> Cc : moulip <julien@technoaddict.fr>, Mention <mention@noreply.github.com> Objet : Re: [buttercup/buttercup-desktop]

[2018-02-11 15:03] #325 closed

[2018-02-12 12:32] moulip commented on #478
Hi Sallar,

Yes still there.

On Sun, 2018-02-11 at 10:51 +0000, Sallar Kaboli wrote:

[2018-02-12 16:10] perry-mitchell opened #514 "Colour palette partially obscured by border"
![image](https://user-images.githubusercontent.com/3869469/36106433-0355c0fe-1020-11e8-91e0-2a8e8e676955.png)

[2018-02-14 13:30] perry-mitchell opened #517 "Check for updates throws error, app does not update"
![image](https://user-images.githubusercontent.com/3869469/36205879-10ef2d2a-1199-11e8-87c1-011c6996e124.png)

This appeared after opening Bcup, as well as when clicking the "Check for updates" button. The update message in the bottom right also appeared (for 1.1.0), and after clicking that, it closes and opens again, but the version is still wrong:

![image](https://user-images.githubusercontent.

[2018-02-14 21:08] RaboliotLeGris opened #518 "System create new process instead of resuming"
Hello,

It's my first bug report, I hope that it will help you !

(I've got some trouble with the title)
*(This issue may be related with the issue #444 .)*

### At present :

When reopening Buttercup, instead of using the running daemon, the system create a second (and a third) daemon.

##### Tested on :
* Fedora 27 - Gnome
* Debian 9  - Gnome / Cinnamon
* Ubuntu 17.10 - Gnome / KDE (VM)

##### H

[2018-02-15 08:34] sallar commented on #517
@perry-mitchell what is ditto? :D

[2018-02-15 21:16] #474 closed

[2018-02-16 03:53] cstackpole commented on #468
Using 1.1.0 with Nextcloud 12 on a private server and LetsEncrypt SSL worked for me. Looks to me a similar setup. Maybe it's fixed?

[2018-02-16 04:16] cstackpole opened #519 "Disable auto loading of icons"
Greetings,
For reasons of my own, I'm looking to replace KeePass. I was recommended Buttercup and after some testing with junk data I decided a proper test would be to import my YEARS worth of history from KeePass and give Buttercup a try for a while as my primary.

I instantly regretted it. To my horror, icons started to appear associated with URL domains. Which means my password application IS T

[2018-02-16 05:46] perry-mitchell commented on #519
Hi @cstackpole,

First of all, Buttercup only makes network connections (currently) for the following items:
 * To Github for checking if there's an update
 * To the websites stored to find if there is a favicon available

No personal information is sent with any request. We do look for icons at the domains that you've stored, yes.

I'm sorry if this functionality makes you feel less secure - we w

[2018-02-16 05:48] perry-mitchell commented on #517
@sallar Good question! But it's throwing an error in Buttercup 😅

[2018-02-16 08:25] sallar commented on #517
@perry-mitchell Telegram is using Squirrel for macOS and electron is using the same but electron cant have the nice GUI in native mac apps :( I'll look into finding another solution for updates. We're currently using this which makes it possible to update Linux and Windows in addition to macOS, also supports Github releases which we are using: https://www.electron.build/auto-update

But maybe the

[2018-02-16 08:42] sallar commented on #519
@perry-mitchell A proxy for downloading the icons doesn't sound so bad. It certainly makes things easier. We should also look into settings... we can add a setting item for enabling/disabling it, so when we add the settings UI, the user can turn it off perhaps?

[2018-02-16 08:48] perry-mitchell commented on #517
Well it’s tricky. Right now the auto update doesn’t work at all for Linux, so it’s only Mac and Windows. I do like the auto update functionality.. we could just implement it ourselves even:

1. Check for update
2. Prompt user
3. Download .exe/.dmg/.deb
4. Execute file

Obviously Mac is more complicated because we need to overwrite an app file. Windows and Linux could probably just install over the

[2018-02-16 08:52] sallar commented on #517
@perry-mitchell I suggest we find a tested and ready-made solution or fix the current one (maybe it's my implementation that is broken and not the solution itself) instead of investing in time implementing it yourself. I haven't seen any electron apps to do this on their own. The update functionality is built into electron core itself: https://github.com/electron/electron/blob/master/docs/api/auto

[2018-02-16 08:58] perry-mitchell commented on #517
Agreed. Errors or not, I personally feel that the auto update functionality is a bit risky - downloading 50-60 mb in the background is tricky and uses a bit of data. Would be good to have the ability to postpone it to next launch..

[2018-02-16 09:00] sallar commented on #517
@perry-mitchell Well I fully agree with changing the flow. At least we should give the user the possibility to opt-in to downloading automatically. Plus, while it's downloading, we should show a progress indicator and also catch the errors nicely.

[2018-02-16 11:11] darsain opened #520 "Retrieving an icon from some urls freezes the app"
OS: Windows 10
Version: 1.1.0

The whole app will spike CPU usage, freeze, and I have to kill it a few seconds after I start navigating my imported database. The freeze is not attached to any specific action, the only requirement is to start navigating the imported database, and within a few seconds the app will freeze 100% of the time.

I suspected it being related to favicon retrieval and that s

[2018-02-16 12:01] cstackpole commented on #519
Greetings,
Thank you for the responses.
I saw nothing in the documentation that says anything about network communication. Talking on the network without my permission is not at all what I expect my password manager to do. In my case, it's just embarrassing that I now have my IP associated with old issues. If I had experienced the misfortune of opening it on my company network, I could have been d

[2018-02-16 12:20] sallar commented on #520
@darsain yup it froze:

![image](https://user-images.githubusercontent.com/768052/36307378-95c4c29e-1324-11e8-9b62-2bd7ea4eb7c3.png)

I'll investigate.

[2018-02-16 12:43] perry-mitchell commented on #519
I agree that your expectations are reasonable @cstackpole - I've created buttercup/roadmap#2 in light of this discussion. Thanks.

[2018-02-16 14:25] pelonchasva opened #522 "Duplicated password files - Version 1.2.1"
Hello guys,

I just updated to the latest version of Buttercup and when it finished and loaded again, there are a lot of password files showing up (even though I have just two), you can see it in the screenshot below:

![buttercup-issue-1 2 1](https://user-images.githubusercontent.com/4713147/36312047-33b67fbc-12fb-11e8-8e02-00762b477b5b.png)

Please take a look into this because it is a bit confu

[2018-02-16 14:33] toniobido commented on #522
Hi guys,

First thanks for your great job ! :)
I have the same problem when I'm adding a new archive and I enter a wrong password

[2018-02-16 17:24] mannp opened #523 "Feature request: Allow moving login(s) from one archive to another."
I have multiple archives for my family and am moving from 1P and am trying to sort out all the logins in the associated family member.

I can currently move an item to another group on a right click and It would be great if I could move to another archive too :)

Thanks for your consideration.

[2018-02-16 17:49] mannp opened #524 "Icons dont update, just stay as green hue document icon? (1.1 to 1.2.1)"
Running buttercup 1.2.1 on a mac and 1.1 on arch linux and none of the icons get updated with favicons?

Icons are all the same document icons with a green hue or border.

[2018-02-17 10:11] sallar commented on #523
Thanks @mannp that's a great idea :)

[2018-02-17 10:15] sallar commented on #522
@pelonchasva @toniobido what happens when you click on one of the extra items?

[2018-02-17 17:25] jgtoriginal opened #525 "[BUG] Click jamming issue on bcup 1.2.1"
Whenever I launch the app if I click on different items of the Group tree, the app freezes out and I need to force close it for it to work back again.

The problem is that as I have many groups and I don't have a general search bar, I need to navigate through all of them manually in order to find the credential I need.

[2018-02-17 17:29] jgtoriginal opened #526 "[FEAT REQ] General search bar"
There's a search bar directory based, but I there's no way to search across all groups for a single credential. So as I got more than 20 groups, with more than 10 credentials each, some of which correspond to the same services, I need to go manually group by group in order to search something.
I know this might be a very frequent case among sysadmins, and maybe not as urgent for final users, but s

[2018-02-17 20:32] sallar commented on #526
Thanks! This is a dupe of #314 and #136. Closing this in favor of those :)

[2018-02-17 20:32] #526 closed

[2018-02-17 20:33] sallar commented on #525
This is a dupe of #520. Thanks for reporting it though. Seeing that it's a critical issue, we'll fix it soon.

[2018-02-17 20:33] #525 closed

[2018-02-17 20:34] sallar commented on #524
@mannp Can you press Cmd/Ctrl+Alt+I and open developer tools to see if there's any errors in the console?

[2018-02-17 20:53] jgtoriginal commented on #526
my bad bad I didn't check if that was the case before posting. sorry about that!

[2018-02-17 20:54] jgtoriginal commented on #525
my bad bad I didn't check if that was the case before posting. sorry about that!
I'm glad you're working on it, please keep me in the loop if you need a hand testing it. Thx!

[2018-02-17 20:59] jgtoriginal commented on #449
@perry-mitchell I wouldn't be too hard on the master's password policy, just stick to the standards (1 uppercase, 1 lowercase, 1 special character, 1 number, 8 chars long).
However what I'd strongly suggest going for is 2FA, at least yubi key and Google 2FA. Because even if the master password is weak or get's compromised, and attacker would still need to steel your physical one time token generat

[2018-02-17 21:34] perry-mitchell commented on #449
Agreed @jgtoriginal, that's what I meant by not going overboard.

The 2FA thing is not related in my opinion - 2FA requires a server and an account. This is something that our upcoming service will provide, but only for people wanting a hosted account and archive. Users may still opt to use Buttercup in the current standalone fashion (remaining completely detached from any central service). I defi

[2018-02-17 21:36] perry-mitchell commented on #519
Depends on #140

[2018-02-17 21:38] perry-mitchell commented on #522
@pelonchasva @toniobido This may be due to some issue with localstorage within the app. What happens if you delete the duplicates?

I tried myself entering the wrong password, but I can't seem to reproduce the problem.

[2018-02-17 21:39] perry-mitchell commented on #492
@numb95 Have you had a chance to test on another device at all?

[2018-02-17 21:42] perry-mitchell commented on #468
I walked through the setup with @crazypingoo94 privately, and even tested it myself. It worked for me with his account, but we weren't able to figure out why it wasn't working for him. @crazypingoo94 is it still not working with the latest version?

[2018-02-17 21:44] perry-mitchell commented on #499
I don't recall where the logs were stored - @sallar? Maybe we could add it to the readme too after this 😊

[2018-02-17 21:46] jgtoriginal commented on #449
You are right @perry-mitchell most of 2FA require server and account. But think it this way, authentication might be by validating at least one of the following 3:

* Something that you know
* Something that you have
* Something that you are

So without going crazy, but just a bit creative, apart from knowing your password, you can have to scan a specific QR code -for instance- that only you'd hav

[2018-02-17 21:50] sallar commented on #499
@perry-mitchell done: https://github.com/buttercup/buttercup-desktop/pull/527

[2018-02-18 12:10] mannp commented on #524
@sallar no there are no erros at all in the console. Usually they are obvious but all seems well?

[2018-02-18 13:37] perry-mitchell commented on #520
Thanks @darsain - Nice effort getting this together!

I can also confirm that it freezes, but it seems that it's just the renderer/UI part that dies. All of the menus are still responsive. I'll test in our icon downloader.

[2018-02-18 13:42] perry-mitchell commented on #520
Turns out that the icon from ello.co is only 3 bytes in length:

[code]

Using the library that we currently have to detect image types, I wonder if it's dying on such an item?

[2018-02-18 16:03] perry-mitchell commented on #520
I can confirm that this works for me in master, after updating iconographer:

![image](https://user-images.githubusercontent.com/3869469/36353948-f50d3fda-14d5-11e8-88eb-0ffa7765a8a0.png)

[2018-02-18 16:34] sallar commented on #520
@darsain @perry-mitchell released: https://github.com/buttercup/buttercup-desktop/releases/tag/v1.2.2

[2018-02-18 17:53] perry-mitchell commented on #520
Thanks @sallar !

I can confirm that this is fixed:

![image](https://user-images.githubusercontent.com/3869469/36355021-57c94628-14e5-11e8-8f4f-5ec1a4efe240.png)

[2018-02-18 17:53] #520 closed

[2018-02-18 17:54] fmommeja opened #529 "Update -> 1.2.2 error"
Hi, hile receiving the message annoucing the new update 1.2.2, I got this message:

[code]

and when I said OK to the update, Buttercup restarted without making the update.

Since then it's still in 1.2.1 and doesn't find an update anymore…

Mac OSX 10.9.5 Build 13F1911 - i7 2.8 GHz - 16 Go DDR3

Kind regards

--
Frederic

[2018-02-18 17:58] sallar commented on #529
Hi. this is a dupe of #517. closing in favor of that one. I'm going to try to focus on this next. Thanks :)

[2018-02-18 17:58] #529 closed

[2018-02-18 18:01] sallar commented on #509
Thanks @farskid Closing this in favor of #517. Will try to focus on this next and find a solution.

[2018-02-18 18:01] #509 closed

[2018-02-19 08:53] fmommeja commented on #517
Worked perfectly now for me!

Thanks a lot.
Kind regards

Frederic

[2018-02-19 11:36] perry-mitchell opened #530 "Move To Group no longer working"
I can't move groups to other groups with 1.1.0:

![image](https://user-images.githubusercontent.com/3869469/36375926-e812bdba-1579-11e8-9775-83033aa5f5f9.png)

Will check the latest version..

[2018-02-19 11:40] perry-mitchell commented on #530
Also not working in 1.2.2.

[2018-02-19 11:44] darsain commented on #449
Please no. Don't enforce how you think people should use something. Trying to prevent dumb people from shooting themselves in the foot always leads to annoying limitations for everyone else.

For example, what if someone wants to test something and create one or many databases with single letter master password so it's easy to enter 50 times in 10 minutes ([like I needed here](https://github.com/b

[2018-02-19 13:57] pelonchasva commented on #522
Hi guys,

Sorry for the delay, I was out this weekend, so after checking out, I can click on any archive and it works good, maybe there is just a little bug when reading and showing the last archives.

[2018-02-19 15:50] jgtoriginal commented on #449
@darsain that's a good point, and here comes the classic chicken and an egg situation between security and functionality, which is easy to solve really. In stead of enforcing you can:

* Add a warning message with a password strength meter, to let them know how strong is the password they are choosing, but without forcing them to do anything.
* Add the 2FA option for people who has bad memory for

[2018-02-19 16:06] perry-mitchell commented on #522
No problem @pelonchasva - Did you try deleting them?

[2018-02-19 16:25] pelonchasva commented on #522
I'm going to try and delete them, but just in case, I'm going to do a backup of my archives just in case something bad happens, I'll let you know what I found.

[2018-02-19 16:29] pelonchasva commented on #522
So I just deleted the extra archives from the app, and it seems it is not causing any issue, certainly it is just a small bug, but I'm looking into it for those users who have a lot of archives, will be time consuming to reorganize their archives, still, it works great.

Also, does Buttercup comes with some kind of log so I can check it out and get more feedback for you guys?

Thanks

[2018-02-19 18:01] darsain commented on #449
The best warning would be to give people an estimated time it'd take the current fastest supercomputer to bruteforce the password. And a 2nd estimate of when it'll be practically bruteforceable (like below a year of computing time) if the current Moore's law trend continues.

That'll make people use strong passwords when they truly need them.

[2018-02-19 18:07] jgtoriginal commented on #449
@darsain that's actually a brilliant idea. I've seen it here couple of days back http://random-ize.com/how-long-to-hack-pass/  UI isn't great, but that's the concept. right?

[2018-02-19 19:49] darsain commented on #449
Yeah. With this kind of warning you've basically gamified making strong passwords, and everyone will be compelled to get the best score. I know I'd definitely make an effort to get at least the age of the universe :)

[2018-02-19 19:52] perry-mitchell opened #531 "Password strength meter for new archive password"
When changing an archive's password (or when creating it for the first time), show a strength meter.

[2018-02-19 19:53] perry-mitchell commented on #449
Good idea.. thanks @darsain, @jgtoriginal. I'll close this in favour of #531.

[2018-02-19 19:53] #449 closed

[2018-02-20 21:43] sallar commented on #478
@moulip By the way, are you using Linux?

[2018-02-21 06:43] moulip commented on #478
Of course what else ?;-)

Envoyé depuis mon smartphone Samsung Galaxy.
-------- Message d'origine --------De : Sallar Kaboli <notifications@github.com> Date : 20/02/2018  22:43  (GMT+01:00) À : buttercup/buttercup-desktop <buttercup-desktop@noreply.github.com> Cc : moulip <julien@technoaddict.fr>, Mention <mention@noreply.github.com> Objet : Re: [buttercup/buttercup-desktop] Check for updates menu

[2018-02-21 06:45] sallar commented on #478
Which file did you use to install Buttercup? Currently only the AppImage provides auto-updating

[2018-02-21 09:07] toniobido commented on #522
Hi,

It's happen only when i'm adding an archive from Dropbox, When I click one of the wrong archive (ex "PA" ith no Dropbox overlay) I can't unlock it, event with the right password.
![sans titre](https://user-images.githubusercontent.com/14336821/36471345-698dcd56-16ee-11e8-8cb5-1069f3501184.png)
I can delete wrong items

[2018-02-21 09:13] sallar commented on #522
I think the temporary solution is removing them and adding them again. I know this is not a solution but it's also unlikely for it to happen again. We changed the internals of how archive manager works, and for some reason this issue has been happening. But this change fixed some other problematic issues.. I will anyway investigate to see what's causing it, but the problem is it's hard to reproduc

[2018-02-21 09:25] darsain opened #533 "Menubar with auto hide enabled doesn't hide on startup"
OS: Windows 10

Reproduction:
- enable "Auto Hide Menubar"
- restart the app
- the menubar is visible

The first click anywhere on the UI is than hijacked to hide the menubar, which makes this issue extra annoying :)

[2018-02-21 09:44] moulip commented on #478
I used the *.deb available on your website.

On Wed, 2018-02-21 at 06:45 +0000, Sallar Kaboli wrote:

[2018-02-21 09:46] sallar commented on #478
@moulip That makes sense. I think our auto-update only supports AppImage on Linux. Can you give that a try?

[2018-02-21 10:09] darsain commented on #314
Having to click some "All Items" folder before I can search globally would be very annoying. Not to mention it would clutter my directories with another directory I didn't create and can't get rid of. This can easily be solved with UX.

- Ctrl+F (optional, or just ↓)
- start typing
- buttercupt displays found items as it does now, but searched globally
- navigating with up/down arrows (or clicking

[2018-02-21 10:11] darsain opened #534 "Navigation shortcuts"
`up/down` - activating items in the list
`ctrl+up/down` - activating folders
`ctrl+f` - focus search

[2018-02-21 10:20] darsain commented on #124
Since we can reorder databases, wouldn't it be better to auto display the unlocking screen for the first database on the list? This gives users the ability to select their primary database.

I know I would definitely prefer it that way. Reasoning:

90+% of the time opening buttercup I want my main database. Sometimes I might select some other less used database. That however does not mean that nex

[2018-02-21 10:37] darsain commented on #522
Related issue: Oening an archive that is already in the list by double-clicking on the `.bcup` file adds it to the list again, creating a duplicate.

Also, buttercup doesn't seem to have a single instance mode enabled. This allows multiple buttercup instances to run, possibly fighting over database access.

Practical case when this might happen: you have buttercup open, and you want to add another

[2018-02-21 10:45] darsain opened #535 "Remember window position and size"
I have 3 monitors. I'd love for buttercup to launch on a specific one with previous size and position, just like every other app does :)

Here is a simple to implement library for this:

https://github.com/mawie81/electron-window-state

[2018-02-21 11:07] #416 closed

[2018-02-21 11:07] #478 closed

[2018-02-21 11:07] #517 closed

[2018-02-21 11:10] darsain opened #536 "Small quality of life UI tweaks"
#### Copy field values by clicking on the whole value area, not the small hidden icon to the right.

and related:

#### Don't hide field action buttons, like the eye to view the password

Buttons popping into existence when moving mouse cursor is distracting. I'm also not aware of them until I happen to hover over one, creating an illusion of missing features for new users.

Also, trying to click

[2018-02-21 15:39] mannp commented on #524
@sallar I have just noticed that importing all of my logins from 1password has not imported any urls from the original source 1pif file, so it seems all the logins have no urls associated with them?

Which could explain why none of the logins have icons?

[2018-02-21 16:02] moulip commented on #478
Yeah sure but can you explain what AppImage is please ?

On Wed, 2018-02-21 at 09:46 +0000, Sallar Kaboli wrote:

[2018-02-21 16:09] #524 closed

[2018-02-21 16:13] perry-mitchell commented on #534
Search relates to #314

[2018-02-21 16:17] perry-mitchell commented on #535
Only screen position is not implemented currently.

[2018-02-21 16:26] sallar commented on #524
@mannp Thanks! I will look into it soon :)

[2018-02-21 16:33] perry-mitchell commented on #139
I don't think this is necessary right now.. We can reopen if necessary.

[2018-02-21 16:33] #139 closed

[2018-02-21 16:35] perry-mitchell opened #540 "Entry types display formatting"
Implement entry types (available in core) so that new types of entries can be created. For example:

 * SSH keys
 * **Notes**
 * Credit cards

[2018-02-21 16:35] perry-mitchell commented on #320
This depends on #540

[2018-02-21 16:36] perry-mitchell commented on #536
Hi @darsain - Thanks for going through all of this!

With regards to the copying fields by clicking, I'm not sure that this makes so much sense. For instance, I frequently copy only a portion of the field value. Having an auto-copy feature would hinder that and be less obvious from a UX perspective.

I'm also not completely convinced that hiding the buttons is so bad in terms of UX. It hides clutt

[2018-02-21 16:37] perry-mitchell commented on #499
@mannp Are you able to check the logs regarding this issue?

[2018-02-21 16:39] perry-mitchell commented on #492
I'm closing this due to inactivity and the current inability to reproduce the issue. We can reopen if necessary.

[2018-02-21 16:39] #492 closed

[2018-02-21 16:46] ph1p commented on #535
I've sent a PR

[2018-02-21 16:47] perry-mitchell commented on #453
Ok, so this is still very much present.. I can confirm that it happens 100% of the time using a Dropbox archive, for example:

![Imgur](https://i.imgur.com/HnmNaNn.gif)

[2018-02-21 16:52] sallar commented on #478
@moulip It's this one: https://github.com/buttercup/buttercup-desktop/releases/download/v1.2.2/buttercup-desktop-1.2.2-x86_64.AppImage
It's usually found from the releases page. I think we need to do a better job at clarifying this.

[2018-02-21 16:53] perry-mitchell commented on #478
@moulip There are several linux install methods available:

 * deb/rpm: Packages which are executed by the OS' package manager
 * AppImage: Executable installer compatible with most Linux flavours (sometimes needs to be run from CLI)
 * [Snap](https://www.ubuntu.com/desktop/snappy): Self-proclaimed universal linux packages

[2018-02-21 17:04] moulip commented on #478
Thx Perry.

On Wed, 2018-02-21 at 16:53 +0000, Perry Mitchell wrote:

[2018-02-21 17:06] moulip commented on #478
So I have just installed the AppImage (and remove the previous *.deb
setup). And as per the following logs, it seems to work now:

[2018-02-21 18:04:16:0777] [info] Checking for update
[2018-02-21 18:04:17:0640] [info] Update for version 1.2.2 is not
available (latest version: 1.2.2, downgrade is disallowed.

Thank you

On Wed, 2018-02-21 at 16:52 +0000, Sallar Kaboli wrote:

[2018-02-21 17:53] darsain commented on #540
Don't forget for **password** entry type. I'd use it for PINs, CVC, and such.

Also, I assume **note** field type will support properly entering and displaying new line characters. Well I'd also love an alternative field **code**, which would work the same as **note**, but entering and displaying in monospaced font.

Use case: PGP keys, license keys such as for Sublime text, etc... example:

[code

[2018-02-21 17:55] #535 closed

[2018-02-21 18:11] darsain commented on #536
You can still select text no problem. Fields get copied on `click`. `mousedown->drag-to-select->mouseup` is not a click, or shouldn't be. So it's all an implementation detail. And I absolutely agree, going the Google Chrome route where you can't select text inside any anchor link is very bad.

Also, I thought click or double-click to copy is pretty much standard in password managers, no? It's also

[2018-02-21 18:12] darsain commented on #535
@perry-mitchell dunno what you mean by currently, but 1.2.2 on win 10 definitely doesn't remember window size.

[2018-02-21 18:30] sallar commented on #535
@darsain So size is not remembered? It's currently implemented and *should* remember it... If it doesn't then it's a separate bug

[2018-02-21 18:47] perry-mitchell commented on #453
Ok so the Dropbox example has more far-reaching consequences. I can reproduce the credentials not saving locally by using the following steps:

1. Open dropbox archive
2. Create entry
3. After clicking save, close window immediately
4. Open bcup again
5. Open file archive (local)
6. Add new entry
7. It never saves (Closing the whole app at this stage results in the image below)

![image](https://u

[2018-02-21 18:56] sallar commented on #453
ok so when I call workspace save, it has three steps for saving:

sends an "enqueue" event to main thread which starts a promise inside the queue (of main thread), then the main thread's new promise sends back an ipc event to the "sender" window which is the 1st step in your instructions, which causes that to do the saving and then send back an event to main thread saying that its finished. but wh

[2018-02-21 19:01] darsain commented on #535
@sallar I've been playing with it, looked at the code, and the issue is that the `resize` event is [debounced to a whooping 2 seconds](https://github.com/buttercup/buttercup-desktop/blob/45736ff066b82e36f542575b85ad8a32f7c88d41/src/main/windows.js#L80) :) Turn it down to at least `500` like the other `move` event is.

[2018-02-21 19:04] sallar commented on #535
@darsain you’re right. I’ll do the change

[2018-02-21 19:10] perry-mitchell commented on #540
Great idea @darsain - I completely agree with the idea of having a more monospace-friendly Note type. A password type also sounds good - to compliment the default username/password login type.

[2018-02-22 11:45] codesmaker commented on #462
Hi,

Any progress on this feature? It's really important because very often you have other sensitive data, beside the password, associate with an account.

Thanks for the hard work!

[2018-02-22 11:54] perry-mitchell commented on #462
Not yet sorry @codesmaker - There are many more higher-prio tasks before this one I'm afraid. It'll require that config library to be finished, which I'll hopefully get time for soon.

[2018-02-22 13:09] sallar commented on #522
@darsain could you open another issue for these two problems so we can tackle them separately?

[2018-02-22 14:07] codesmaker commented on #462
@perry-mitchell Thanks for the reply! Keep up the good work guys!

[2018-02-22 14:18] darsain opened #543 "Launching added .bcup file causes database duplication"
If I have a database `foo.bcup` already added in Buttercup, and than I double-click on the file, the same database is added into Buttercup again, creating a duplicate.

Ideal behavior: Already added database is opened or activated/focused when it was opened already.

[2018-02-22 14:21] darsain opened #544 "Enforce single instance mode"
Buttercup doesn't have a single instance mode enabled. This allows multiple buttercup instances to run, possibly fighting over database access and creating conflicts in settings storage.

Practical case when this might happen: you have buttercup open, and you want to add another .bcup database. You double click on it and instead of it being added to the current instance (or activated when it's alr

[2018-02-22 14:22] darsain commented on #522
@sallar #543, #544

[2018-02-22 18:37] sallar commented on #535
@darsain next release will reduce it to 500 :)

[2018-02-22 18:50] #453 closed

[2018-02-22 18:57] sallar commented on #544
@darsain Can I send you a windows executable of my change, so you can test this?

[2018-02-22 19:03] sallar commented on #544
@darsain here's the installer: https://www.amazon.com/clouddrive/share/DHG2JSFHGDkZA3JFvy1z172HBuQpY9ewn8X5AtgynXY

[2018-02-22 19:40] darsain commented on #544
@sallar Yes, there is no 2nd window being launched, instead the 1st one gets focused, which is correct, but ... nothing happens. If I double-click a .bcup file to open it, something *should* happen. When nothing does it feels like a bug.

The database should get added to the list, and when it already is in the list it should just get activated.

[2018-02-22 19:49] sallar commented on #544
@darsain well this one is a separate issue that you mentioned before. so that's for another time. but right now the archive *should* get added to the list like a normal double-click. I'll check what's wrong.

[2018-02-22 20:15] sallar commented on #544
@darsain updated the code: https://www.amazon.com/clouddrive/share/3qq9gRSxjAlNOFs1gggPc9oA3OgMPdxibTIl00jCnR4 this time it should open the file

[2018-02-22 20:35] darsain commented on #544
Yeah it opens the file now.

[2018-02-22 21:40] #544 closed

[2018-02-22 23:00] fmommeja opened #547 "Check for updates throws error, app does not update to 1.3.0"
New issue today on Mac (with 1.3.0 update):

`Unhandled Promise Rejection Error: La requête a expiré. at Promise.longStackTracesCaptureStackTrace [as _captureStackTrace] (/Applications/Buttercup.app/Contents/Resources/app.asar/dist/app.js:71191:19) at new PromiseSpawn (/Applications/Buttercup.app/Contents/Resources/app.asar/dist/app.js:73161:17) at /Applications/Buttercup.app/Contents/Resources/ap

[2018-02-22 23:12] fmommeja commented on #547
New try… here is the associated log:
`[2018-02-22 23:54:46:0638] [info] Checking for update
[2018-02-22 23:54:48:0121] [info] Found version 1.3.0 (url: buttercup-desktop-1.3.0-mac.zip, Buttercup-1.3.0.dmg)
[2018-02-22 23:54:48:0122] [info] Downloading update from buttercup-desktop-1.3.0-mac.zip, Buttercup-1.3.0.dmg
[2018-02-22 23:54:48:0187] [info] / requested
[2018-02-22 23:54:48:0193] [info] /ap

[2018-02-23 08:08] sallar commented on #547
@fmommeja this issue is fixed in 1.3, so you'll need to probably manually install 1.3 if the update doesn't work

[2018-02-23 11:18] ph1p opened #548 "Archive Search"
Hi!

I'm using buttercup daily. Often I need a password very quickly and I don't want to click multiple folders to open the entry. There is no solution yet to search globally. So I've written one. I know its not perfect but what do you think?

You can open it via main menu or `cmd/ctrl + f`.

This is currently a `title` search with `findEntriesByProperty('title', '')` from buttercup-core.
It only

[2018-02-23 12:20] sallar commented on #548
This is related to #136 and #314.
@perry-mitchell this looks like a good solution to our UI problem?

[2018-02-23 12:24] sallar commented on #548
@ph1p can you open a PR so we can discuss there? since this is a code-related discussion and not an actual issue. then we can close this one and mention those are tasks from the PR. You can also make the search to include the other open archives as well. it's what buttercup browser extension does, so its nice to have the same experience.

[2018-02-23 12:39] ph1p commented on #548
Ok you can close it :)  I'll sent a PR.

[2018-02-23 12:45] perry-mitchell commented on #548
This looks amazing! I love the idea.

For me I think it'd be best to use the `EntryFinder` code in the core, as [used here in the browser extension](https://github.com/buttercup/buttercup-browser-extension/blob/master/source/background/library/archives.js#L175).

[2018-02-23 13:04] #548 closed

[2018-02-24 18:20] #136 closed

[2018-02-24 18:20] #314 closed

[2018-02-25 19:49] sallar commented on #124
@perry-mitchell what do you think?

[2018-02-25 20:08] perry-mitchell commented on #124
@sallar @darsain I quite like the idea of this approach. Like you said, it's configurable without needing a specific configuration flag - having the archive in the first position would allow it to be unlocked automatically without having to select it.

What I'd be interested in regarding this would be the UX - I don't know how much I like the idea of having the unlock dialog forced-open for **all*

[2018-02-25 20:11] perry-mitchell opened #554 "Unlock dialog should have archive listed"
When unlocking an archive (which can be triggered in a variety of ways) it'd be great to have the name (and maybe type?) of the archive in the unlock window.

[2018-02-25 20:12] perry-mitchell commented on #124
It might be best to have #554 completed before attempting this as well (listing the archive name in unlock window). I guess having a setting to enable auto-login would be acceptable in my opinion.

[2018-02-26 05:50] perry-mitchell opened #556 "Hide entries search box"
The search box now does nothing and could now be considered bad for UX. Removing it in favour of the few global search dialog would be best.

[2018-02-26 21:22] perry-mitchell opened #559 "Load icons for searched entries"
Icons for searched entries are not automatically downloaded.

[2018-02-27 08:32] moulip opened #560 "Auto Update fails on Linux"
Hi guys,

i think I might be cursed with the embedded update feature :-(
I have been warned that a new version was available but I can't install it. When I click on the "Install Now" notification, I get this error:

Error: spawn /tmp/up-Z0Z8Ck/buttercup-desktop-1.4.0-x86_64.AppImage ENOENT

And in the logs:

[2018-02-27 09:27:41:0009] [info] Operation queue is not empty, waiting before quitting.
[

[2018-02-27 08:35] sallar commented on #560
Hi @moulip. Im sorry to hear that. I think the only way now would be if I install Debian Buster myself and test it out.

[2018-02-27 11:22] perry-mitchell commented on #560
That looks strange.. ENOENT makes it sound like either the file wasn’t written, or it was deleted instantly.

[2018-02-27 12:09] sallar commented on #499
@mannp this will be fixed in next release

[2018-02-27 13:01] #499 closed

[2018-02-27 13:32] #556 closed

[2018-02-27 13:49] moulip commented on #560
True. That's the first thing I checked knowing what ENOENT means.
And the file is there.

On Tue, 2018-02-27 at 03:22 -0800, Perry Mitchell wrote:

[2018-02-27 14:12] sallar commented on #560
@moulip @perry-mitchell I might have an idea... the AppImage that is stored in Github releases is not executable. It needs `chmod a+x` command to be run... maybe that's whats happening?

[2018-02-27 14:29] sallar commented on #554
@perry-mitchell adding password strength meter #531 requires re-designing this unlock dialog. Perhaps they can be done together with this

[2018-02-27 14:34] perry-mitchell commented on #560
I don’t think it would be that unfortunately.. enoent is only for missing paths.. Hmm.

[2018-02-27 14:35] perry-mitchell commented on #554
Sure.. let’s take this after the other work perhaps? 😁

[2018-02-27 14:35] sallar commented on #554
@perry-mitchell yes, I just added all three issues to a milestone which can be bundled together in the future.

[2018-02-27 14:37] #530 closed

[2018-02-28 10:03] #444 closed

[2018-02-28 12:35] mustii82 commented on #556
Not a good Idea in my Opinion not everybody know the shortcut for the Global Search, at least the searchbox should provide a filter function or provide simple Acess to the Global Search. So please bring it back.

[2018-02-28 14:13] perry-mitchell commented on #556
Why would you require a filter box for entries when there’s a global search? I can’t see why you’d need to filter only the currently displayed entries..

[2018-02-28 16:22] n8v8R opened #565 "[feature request] option to (auto)start (minimized) with OS"
Such options would be handy/welcome now that the tray icon been implemented.

![tray option](https://user-images.githubusercontent.com/13611490/35914076-32fd6ea0-0c02-11e8-9bde-c19667886303.PNG)

[2018-02-28 19:22] mustii82 commented on #556
Even then a Button for the Global Search is always a good thing like on Mac OSX you can acess spotlight via button and shortcut. fore People to use a shortcut is never a good thing.

[2018-02-28 19:40] perry-mitchell commented on #556
@mustii82 I agree that _only_ a shortcut would be bad, but we also have a menu item:

![image](https://user-images.githubusercontent.com/3869469/36809127-b4e3caa8-1ccf-11e8-8cbc-e1bac9a62faa.png)

I can't see any reason to have a filter box for entries unfortunately. The fact that we support nested groups mean that Buttercup archives can have more depth in terms of sorting and organising. Users do

[2018-03-01 04:37] mustii82 commented on #556
@perry-mitchell But something useful like a search needs a Button for qucik acess especially for a Password Manager with Multiple Accounts. We are not talking about a rare condition like Settings editing, We must provide a Button like every modern App.

[2018-03-01 06:49] perry-mitchell commented on #556
@mustii82 I think some things are more widely known.. For instance, I would expect the **average** user to know:

 * Shortcuts for Copying things
 * Shortcuts for Pasting things
 * Shortcuts for Cutting things
 * Shortcuts for Finding things

And so finding things using a hotkey should be second-nature to most. On top of that, we have a button in the menu. I hear that you're pushing the quick-acce

[2018-03-01 11:07] perry-mitchell opened #566 "Tray item throws error upon reopening window"
Enabling the tray icon, closing the window and then reopening it yields an error:

![image](https://user-images.githubusercontent.com/3869469/36841592-75ed733a-1d51-11e8-9243-ffd3dd8698b3.png)

[2018-03-01 11:11] perry-mitchell opened #567 "Tray icon menu shows no contents"
On ubuntu, the tray icon menu is empty:

![bcup_tray](https://user-images.githubusercontent.com/3869469/36841733-f524c9be-1d51-11e8-8f7e-f6d603a8c6f0.JPG)

(apologies for the poor qual photo, ubuntu didn't want to print-screen the menu when it was open)

EDIT: The icon is also incorrect it seems.. It should be the rounded-corners square type icon.

[2018-03-01 11:14] perry-mitchell commented on #560
@moulip Can you please confirm if the file is actually there?

[2018-03-01 11:22] perry-mitchell commented on #565
Good idea.. Those options sound good, but this should be handled by a proper settings interface, not just writing everything to storage like we're doing now. So for that, I'm going to block this by #140.

[2018-03-01 12:51] moulip commented on #560
Hi,

Yes it is.
But since I had another strange behavior (each time I rebooted the
AppImage was nowhere to be found), I reverted to the *.deb package.

On Thu, 2018-03-01 at 11:14 +0000, Perry Mitchell wrote:

[2018-03-01 15:55] perry-mitchell commented on #560
@moulip The `AppImage` files are stored in `/tmp` so that they are cleaned up automatically. When you restart, `/tmp` should always be cleared, so that's expected behaviour. The `AppImage` file is not required after installation, as the program runs from your system then.

I'm sorry that you've been experiencing these issues. Unfortunately there won't be any auto updates on `.deb` currently.

[2018-03-01 16:19] ph1p commented on #567
I noticed this too. With `appIcon.setContextMenu(contextMenu);` electron handles the context menu automatically. Maybe we can use this method.
The .ico files are corrupt.

![screen shot 2018-03-01 at 17 05 56](https://user-images.githubusercontent.com/15351728/36855095-fefc86d6-1d72-11e8-9529-078d40abef61.png)
![screen shot 2018-03-01 at 17 06 45](https://user-images.githubusercontent.com/15351728

[2018-03-01 20:54] #566 closed

[2018-03-01 20:54] #567 closed

[2018-03-02 07:53] perry-mitchell commented on #408
Raising the prio due to the fact that there's no way to "Check for updates".

[2018-03-02 14:53] sallar commented on #408
@perry-mitchell check for update is there actually

![image](https://user-images.githubusercontent.com/768052/36904737-34bb051e-1e3a-11e8-8fa7-401d3334570a.png)

But "about" is not. Adding that + adding more items to tray in an upcoming PR

[2018-03-02 21:03] mustii82 commented on #556
Even on my College People dont know the Finding Shortcut. Every GUI Builder know that something important like this could never be replaced by a shortcut. not in Windows, Max OSX or any other Programm that breaks the entire User Interface Guide Line

[2018-03-03 00:22] mustii82 opened #570 "Mobile Version dosent support OS Specific Password APis"
A Password Manager which runs on iOS and Android must work with the OS APis to get easier acess to our Passwords. We must provide this compatibility.

[2018-03-03 00:23] mustii82 opened #571 "Still no Safari Support"
We still has no Safari plugin.

[2018-03-03 07:18] perry-mitchell commented on #570
Hi @mustii82 - Please make sure to open issues in the correct repository. This repo is only for the desktop application - The mobile app is in [this repo](https://github.com/buttercup/buttercup-mobile). Thanks.

[2018-03-03 07:18] #570 closed

[2018-03-03 07:19] perry-mitchell commented on #571
There is already an issue for this on the browser extension repo: buttercup/buttercup-browser-extension#105

[2018-03-03 07:19] #571 closed

[2018-03-03 21:24] #408 closed

[2018-03-12 08:36] perry-mitchell opened #573 "Multiple icons after update"
I now have multiple Buttercup icons after updating from 1.5.1 to 1.5.2:

![image](https://user-images.githubusercontent.com/3869469/37273039-30077ec2-25e1-11e8-8f92-b05a23d4368e.png)

[2018-03-12 08:37] perry-mitchell opened #574 "About menu doesn't work"
The about menu item does not open the about box.

[2018-03-13 08:56] gschoenberger opened #575 "Changing master password corrupts password file"
Changing the master password corrupts the password file.
After trying to change the master password for my buttercup file I was not able to open it again.

The following error appeared after filling out the "Change Password" form:
![image](https://user-images.githubusercontent.com/1648307/37331431-3649bb10-26a4-11e8-8253-d7462a457a60.png)
Then I was no longer able to use buttercup, I had to kill t

[2018-03-15 13:50] perry-mitchell commented on #575
Hi @gschoenberger - Sorry about the delay.

I've reproduced this as well - Though it occurred for me after locking the file (after changing the password). I'll have a look at it shortly..

[2018-03-15 13:53] gschoenberger commented on #575
Yes, locking or closing -> both leads to the same issue.
THX for taking a look!

[2018-03-15 16:26] perry-mitchell opened #576 "[Dev/Bug] Unexpected redux key"
Getting an expected key error in the browser console during development in master:

![image](https://user-images.githubusercontent.com/3869469/37476641-564788d0-287e-11e8-99d7-0ad9cf9cf68f.png)

[2018-03-15 16:45] perry-mitchell commented on #576
This cleared up.

[2018-03-15 16:45] #576 closed

[2018-03-15 17:18] perry-mitchell commented on #575
Ok, I found the issue. The desktop app is using some new functionality to improve the archive management, which had a bug. The archive source (after having the password changed) was running into a queue deadlock when trying to serialise the source 😵.

It's being fixed in core now, with a release coming soon.

[2018-03-15 21:29] #575 closed

[2018-03-15 21:30] perry-mitchell commented on #575
This should be released tomorrow (Friday).

[2018-03-16 08:18] gschoenberger commented on #575
THX for the fast fix!

[2018-03-16 11:48] dotamir commented on #574
Hi, I used Buttercup on Linux and I tried to figure it out why it does not open. And I reviewed the code and I couldn't find anything. I just found this line:
```{ role: 'about', label: label('app.about') },```
BTW, can you lemme know how you guys handle this? Maybe I could help.
(I haven't tested it on another OS like macOS to know how is working).

[2018-03-16 12:22] sallar commented on #575
@gschoenberger If you remove the file from Buttercup Desktop and re-add it again, it should start working again. Right @perry-mitchell? (The release to fix this issue is coming in a few minutes)

[2018-03-16 12:46] perry-mitchell commented on #575
@sallar @gschoenberger Yes, it *should* work like that, but can't guarantee. It was a mix up in terms of the written content - the content itself should not get corrupted.

Thanks for reporting @gschoenberger!

[2018-03-19 11:09] perry-mitchell opened #580 "Hide "Custom fields" information"
Currently we separate custom fields:

![image](https://user-images.githubusercontent.com/3869469/37592145-836bdfd2-2b76-11e8-92de-77adca11dee9.png)

But as we're moving to #540 displaying entry types (Credit card, bank details, SSH key, Note etc.), it'd be good to go to a more generic layout perhaps.

[2018-03-19 11:09] perry-mitchell commented on #580
What do you think @sallar? This has been brought up earlier, and now thinking about it, I'm definitely starting to like it as it makes moving to the entry type facades a bit easier..

[2018-03-19 11:10] perry-mitchell commented on #560
Closing this due to inactivity. If this becomes a blocker or we're able to reproduce it, we can of course reopen.

[2018-03-19 11:10] #560 closed

[2018-03-19 11:39] sallar commented on #580
@perry-mitchell Yes I agree. So you mean just showing everything below each other or having different separators?

[2018-03-19 13:35] darsain commented on #580
Just show everything below each other. These separators have no semantic value to the user, only to developers. I don't need to know how these fields are implemented under the hood. I just want to see the fields for my item, which are all important, so any separator would be arbitrary and make no sense :)

[2018-03-19 13:38] perry-mitchell commented on #580
I would think that showing it altogether, personally, would make it a bit tidier. This is more from the perspective that when we have custom field layouts supported via facades, it’ll be necessary to group them all anyway.

Right now some fields like username and password cannot be removed so it makes sense that they’re at the top and custom fields below. When we use facades the built in facade pr

[2018-03-19 14:19] darsain commented on #580
@perry-mitchell that sound horrible. What you've just described is so inflexible it'll make me probably stay with my current password manager.

Here is where I'm coming from:

I want to use buttercup to also store license keys, GPG keys, and similar stuff. For this I need only **title**, *maybe* **username**, and **license**/**key** field (that supports new-line characters, lack of which is why I'

[2018-03-19 15:11] perry-mitchell commented on #580
I disagree - and please, tone it down a little. We're not trying to make an uber strict interface, but we need to be mindful of the current architecture and our plans on what we expect users to want out of an interface.

We plan to have facades around all of these. Having mandatory fields that cannot be **removed** (of course they can be empty) helps keep expected data mapped to their respective p

[2018-03-19 15:13] perry-mitchell commented on #580
To better communicate what this will change:

 * Remove the divider between **mandatory** and **custom** fields

And what #540 will change:

 * Hide Username/Password required fields, along with some custom fields, under a facade
 * Entries of certain types will only show the fields relevant to them
   * If a user creates a key entry, it may be just a title and the key data field by default, for e

[2018-03-20 08:26] perry-mitchell opened #581 "Tray error on every load"
On ubuntu 16.04, I get this error every time I open buttercup:

![image](https://user-images.githubusercontent.com/3869469/37643410-1beeb704-2c29-11e8-8148-b9434a868b26.png)

I have the tray icon enabled.

[2018-03-20 08:57] perry-mitchell commented on #581
It looks like it's running stuff from the temp folder.. and may have something to do with the update on Linux. The AppImage way might still be a bit broken.. not sure.

[2018-03-21 14:37] brooksbecton commented on #531
I would like to look into this issue!

Is there a particular package ya'll would want to check passwords with?

I found this [zxcvbn](https://github.com/dropbox/zxcvbn#usage) that can give a strength score based on the number of guesses it would take a computer to brute force it. I think this lines up with what **darsain**  said in #449

`The best warning would be to give people an estimated time

[2018-03-22 08:26] Megilla commented on #581
I have the same issue with Ubuntu 17.10.

![buttercup1](https://user-images.githubusercontent.com/4919450/37758789-c2371bcc-2db1-11e8-8bc9-9fc537c18c01.png)

I noticed on my machine that the message only appear, when Buttercup already running.

1. Not all processes will stop when I close buttercup.

![buttercup2](https://user-images.githubusercontent.com/4919450/37758880-1a2a2f72-2db2-11e8-89a4-f3

[2018-03-22 08:32] Megilla opened #582 "Drag&Drop error message"
If I want to drag and drop an entry into another directory, I get this error message.

Ubuntu 17.10 & Buttercup-Desktop v1.6.0

![buttercup4](https://user-images.githubusercontent.com/4919450/37759435-e8ab1374-2db3-11e8-9dcf-87ffc848622c.png)

[2018-03-24 04:07] ArtexJay opened #583 "Bitwarden CSV"
Issue when importing Bitwarden's CSV. The titles are imported nothing else, not the passwords, username, links ,etc

[2018-03-24 16:05] perry-mitchell commented on #583
Hi @ArtexJay - Unfortunately Bitwarden [isn't yet supported](https://github.com/buttercup/buttercup-importer#supported-password-archive-formats). This should be added to the importer project first. Thanks.

[2018-03-24 16:05] #583 closed

[2018-03-24 16:09] perry-mitchell commented on #583
I've added an issue for this: buttercup/buttercup-importer#30

[2018-03-24 23:42] ArtexJay commented on #583
Great thanks! Hope it gets supported soon

[2018-03-25 21:00] Hedronmx opened #584 "App displaying error after updating Linux"
![Error](https://i.imgur.com/yFWI89H.png)
This is the error that shows inside the buttercup window after updating to 1.6.0.

I had to revert to 1.4.0... that version does work. I tried with 1.5.2 and the same error happens.
Running Elementary Os 0.4.0 Loki based on ubuntu. Installed using the Deb file.

[2018-03-26 04:03] perry-mitchell commented on #584
Updating shouldn’t be possible on the deb file installation, due to issues.. 🤔

[2018-03-26 18:13] sallar commented on #584
@Hedronmx By updating do you mean installing it yourself manually? As @perry-mitchell mentioned auto-updating is not possible with deb files

[2018-03-29 05:16] Hedronmx commented on #584
I installed it with the new deb... So should I switch to appimage or what should I do?
Thanks and sorry for the inconvenience

[2018-03-29 07:24] perry-mitchell opened #586 "DEB + RPM builds and updating do not work"
Fix the update procedure for these preferred installation types.

[2018-03-29 07:24] perry-mitchell commented on #584
No problem! We do need to fix that somehow. You can uninstall the deb version and use the `.AppImage` version, which supports updating.

Closing in favour of #586

[2018-03-29 07:24] #584 closed

[2018-03-29 08:18] perry-mitchell commented on #468
Closing due to inactivity. We can reopen if the issue persists.

[2018-03-29 08:18] #468 closed

[2018-03-29 08:20] perry-mitchell commented on #581
The error does not occur for me when opening buttercup **from** the tray icon. It's only regular launches that show it.

[2018-03-29 08:28] rebootit commented on #278
Next release is here and I don't see the option, how can I export ?

[2018-03-29 11:05] perry-mitchell commented on #278
I think you misunderstood- my colleague was referring to changing the master password, not exporting archives..

[2018-04-06 14:05] ws141 commented on #141
Any opinions on implementing this without the configuration ability and just having a hard coded time limit to start with? That should limit the effort needed to implement the feature since not leaving your archive open for an indefinite amount of time would be of higher priority then just medium?

[2018-04-06 17:29] perry-mitchell commented on #141
@ws141 I personally agree with that point - it'd be better than leaving it open permanently. This is how our platform currently behaves:

 * Mobile app autolocks after 10? minutes
 * Browser extension locks on closing of all tabs
 * **Desktop doesn't currently autolock**

So it would be very beneficial to have this feature. It would, in my opinion, have to:

 * Lock all currently unlocked archives

[2018-04-06 17:31] perry-mitchell opened #587 "Auto lock unlocked archives after time"
Based on #141 - Auto lock the archive after **x** minutes of inactivity. The following points should be covered:

 * Lock all currently unlocked archives
 * Listen for user-cues in terms of activity
   * Reset lock timer on mouse move
   * Reset lock timer on focus change
   * Reset lock timer on tray icon menu open
 * Disable the timer while any item is being edited

[2018-04-08 22:07] AwesomeTech10 opened #589 "Add more cloud services"
I think Buttercup is a great program, but I use LastPass. Maybe add in support for LastPass, 1Password, etc?

[2018-04-09 04:03] perry-mitchell commented on #589
Hi @AwesomeTech10 - As Lastpass and 1Password are our competitors, we won't be offering integrations for _working_ with them. We'd like to offer a platform superior to theirs.

We do provide import support for them, however, so you can easily switch from their platform to ours.

Thanks!

[2018-04-09 04:03] #589 closed

[2018-04-09 23:13] AwesomeTech10 commented on #589
Well, maybe create a tool that would integrate them better, such as a option for importing, which would ask you to log in, and it would import. Also, consider making an extention for Brave (brave.com), because that is my browser-of-choice

On Apr 8 2018, at 9:03 pm, Perry Mitchell <notifications@github.com> wrote:

[2018-04-11 07:10] perry-mitchell opened #591 "Auto-login for item with URL"
For all items with `url`/`login[\s_-]url` meta, perform the following:

1. Detect main browser
2. [Detect extension](https://stackoverflow.com/questions/17377337/where-to-find-extensions-installed-folder-for-google-chrome-on-mac)
3. Launch extension with auto-login URL

This task is quite a large one and requires a few other items:

- Module to detect main browser and whether the extension is pres

[2018-04-14 12:03] sallar commented on #581
Hi @perry-mitchell @Megilla, I'm trying to fix the Tray issues. However before releasing, could you please confirm that it works? I have uploaded the patched version here. Let me know if they work... Thanks!

deb: https://send.firefox.com/download/a63dd8caf9/#SAa0pYNWdu_CLf4fdNZjRw
rpm: https://send.firefox.com/download/1af462534c/#3Iz94sLMhczKbRFRCYuL1w

[2018-04-14 18:09] sallar commented on #573
This should be fixed in #592

[2018-04-14 18:16] sallar commented on #582
@perry-mitchell @Megilla This is actually not a bug... Dragging and dropping entries into groups is not currently supported. So adding it would fix this issue too.

[2018-04-16 17:14] sunjam opened #593 "URLs missing via import from kdbx database"
Hi.  URLs do not import from kdbx databases in v1.6.1 on MacOS

[2018-04-16 17:21] sunjam opened #594 "TOTP/HOTP 2FA and one time passwords"
OTP support is a useful feature.  You can see how it is implemented  for entries in [ KeepassXC.](https://keepassxc.org) Would allow buttercup entries to be used for two factor authentication.

[2018-04-17 11:26] #593 closed

[2018-04-17 11:27] perry-mitchell commented on #593
Moved to the appropriate repo.

[2018-04-17 11:29] perry-mitchell opened #595 "Incorrect behaviour when using AppImage package"
AppImage builds do not install on Ubuntu. The app seems to _run_ from the image. Deleting the image means that the app no longer opens (although it appears in the system menu). Updating may also be affected by this, as well as errors when using the tray menu (#581).

[2018-04-17 18:14] ArtexJay opened #596 "Store passwords with Sync.com cloud storage"
I have recently seen many users on alternativeto talk about sync.com. It's a cloud storage service, and it differs greatly from Dropbox or Gdrive as it boasts that it encrypts all files uploaded.

So I was wondering it Buttercup could implement a store/sync feature to work with this cloud storage like the ones already existing for Dropbox.

The cloud storage is: https://www.sync.com

[2018-04-18 19:26] perry-mitchell opened #597 "Duplicate executions: Close *older* instance"
When opening a new instance when one is already running, the older instance should be forced to close while the new one remains running. Related to #592.

[2018-04-18 19:38] #573 closed

[2018-04-18 19:38] #581 closed

[2018-04-18 20:03] sunjam commented on #594
Yes, I’m suggesting a client be implemented that can generate codes from OTP secret key files stored in Buttercup.  [See this video example from KeepassXC.](https://youtu.be/hVef2Sb6xBo)

[2018-04-22 19:09] perry-mitchell opened #598 "Mac icon invisible when light theme used"
As per title:

![image](https://user-images.githubusercontent.com/3869469/39098853-cb2f5344-4679-11e8-9ec4-4057bb0de32c.png)

[2018-04-22 19:53] sallar commented on #598
Hey mate, this is one of the fixes in the latest PR. It will be gone with the next release :)

[2018-04-22 20:05] sallar commented on #598
Fixed by #592 592

[2018-04-22 20:05] #598 closed

[2018-04-24 16:35] eldy opened #599 "Pb in managing https requests for webdav connection"
Buttercup desktop (same on android) return a network error during the ssl handshake when try to create a webdav source. Certificate is fro letsencrypt and is valid.
Without https, buttercup client make a PROPFIND. With the https, the PROPFIND is never sent and a message is return saying "network error".
The webdav url can by accessed with any other webdav client like cadaver

This is a screenshot

[2018-04-24 16:42] perry-mitchell commented on #599
Hi @eldy - Thanks for the detailed report. Unfortunately we need more information - we use Buttercup daily on several different webdav connections which all work, some of which are secured using letsencrypt.

Could you perhaps check that your SSL cert is valid? Tools like [this](https://www.sslshopper.com/ssl-checker.html) should work just fine. Usually these issues are to do with some kind of cus

[2018-04-26 11:01] perry-mitchell opened #600 "AppImage runs wrong version"
Downloaded 1.6.2 appimage, chmod'd, executed.. Buttercup kills new version:

![image](https://user-images.githubusercontent.com/3869469/39302152-52248f1c-495a-11e8-92fe-397cd0891a62.png)

We should make the auto-kill smarter and kill the older one.

[2018-04-26 11:17] perry-mitchell commented on #599
I'm going to close this issue for now, as we're not able to deal with all the connection issues that arise with so many different platforms & SSL configurations. I've created a [contribution and issues guide](https://github.com/buttercup/roadmap/blob/master/agreements/issues.md) which details some basic pointers when creating issues, and we'll start to enforce these from now on.

If a bug is confi

[2018-04-26 11:17] #599 closed

[2018-04-26 14:52] guilherme-sr opened #601 "Portuguese language not working"
When I select the Portuguese language, the option changes at menu, but nothing is translated, it still at English, all others are fine.
At Windows v1.6.2

[2018-04-27 07:09] sallar commented on #429
@BlueBeniHD We have a backlog of important bugs and issues that we have to attend to and we are only two people working on Buttercup. This is definitely an important issue which we will do at some point, but meanwhile a PR is welcome too :)

[2018-04-27 14:33] jdrch opened #602 "Windows desktop app gives error on startup on Windows 10 v1709"
After installing the app and attempting to start it, I get the following error message:

![image](https://user-images.githubusercontent.com/1056759/39367942-d1d6305a-49fd-11e8-8759-5e9342e7c200.png)

Interestingly, Pulse SMS (which apparently uses the same build/application framework) has a similar [issue](https://github.com/klinker-apps/messenger-issues/issues/656).

Any ideas?

[2018-04-27 20:10] perry-mitchell commented on #602
Very interesting, thanks for reporting! Unfortunately this might go the same way as the other issue, and require someone to reproduce it in development.

@jdrch What version windows are you running? Perhaps you could share your PC details to get us started..

[2018-04-27 20:13] jdrch commented on #602
Windows 10 Pro x64 FCU (which I think is version 1709 as said in the OP title.)

[2018-04-27 20:24] perry-mitchell commented on #602
Ah sorry! Missed that..

[2018-04-28 09:49] perry-mitchell commented on #429
This is already possible on Linux using `AppImage`, so I'll localise this to only Windows/Mac.

[2018-04-28 10:00] #586 closed

[2018-04-28 10:00] #595 closed

[2018-04-28 10:14] perry-mitchell commented on #596
Looks good! This should first be added to [buttercup/datasources](https://github.com/buttercup/datasources).

[2018-04-28 10:47] #601 closed

[2018-04-28 12:29] #600 closed

[2018-04-28 15:47] BlueBeniHD commented on #429
@perry-mitchell Because you said a PR would be welcome. Which program do you prefer to write javascript or which do you use?

[2018-04-28 15:59] perry-mitchell commented on #429
As long as you use node and npm, the code should auto format when you commit it. We both use vscode as our preferred editor, and use prettier for formatting both on the command line and in the editor. I would recommend installing editorconfig as well in whatever editor you use.

[2018-04-28 16:13] Benimautner commented on #429
Okay, thanks.

[2018-05-04 11:32] arunikayadav42 commented on #602
Hello all I am e beginner in open source and have a basic knowledge of javascript and want to get started with contributing to this project!Can somebody please help me?

[2018-05-04 21:42] sallar commented on #602
Hi @arunikayadav42! Welcome. What kind of help are you looking for?

[2018-05-09 13:23] nahue opened #606 "Dropbox sync: Opened file in IOS and Desktop fails to open (master password incorrect)"
Had buttercup-password working liked a charm! But then i installed it on my iPhone, added my dropbox file. And suddenly desktop fails to authenticate the master password. What can i do to help you debug this issue?

[2018-05-09 14:42] perry-mitchell commented on #606
Unfortunately not much. You can’t exactly share your archive with us. If you make a change and save it on mobile, does it then work on desktop?

[2018-05-09 14:56] nahue commented on #606
Tried it with no luck :( maybe a mismatch between encryption? maybe desktop and mobile use different versions of the encrypt module (im just a developer trying to guess)

[2018-05-09 19:48] perry-mitchell commented on #606
Encryption is the same - one of the features is interchangeable archives between apps.

This most likely is a reoccurring issue we have with encryption on mobile devices (a bug). Unfortunately there is no quick fix. We’ll be migrating to AES-GCM encryption in the coming months, and this is expected to resolve the problem.

[2018-05-12 08:41] robbinhan opened #607 "not found fse-v1.0.17-node-v64-darwin-x64.tar.gz"
download  fse fail. that was 404 status

![image](https://user-images.githubusercontent.com/241873/39955553-4e39df32-5603-11e8-9d7a-c28f78858a03.png)

[2018-05-18 09:27] Sblop opened #608 "Feature request - Upload pictures"
Thanks for a great app... This is bringing keepass like password management into a more modern package.

As a future feature I suggest the availability to upload pictures to the database. My bank uses a key-card with hundreds of one-time codes. It would be usefull to be able to upload these directly to the DB, compared to copying it to the db by hand. :-)

[2018-05-21 10:42] dornenkrone opened #611 "Hope to add onedrive synchronization"
just as it's write ,when i write my password file on my pc without dropbox ,i can't sync it to my chrome
it would be much convience if it can sync files with onedrive

[2018-05-21 16:41] sum01 opened #612 "1.7.0 fails to build"
1.7.0 fails to build from source on Arch Linux. Seems node-sass is the cause?

`makepkg -L` Build.log
[code]

The referenced debug.log (warning, very big) https://gist.github.com/sum01/e185ab2e626404a7c90ba81b581a0d4c

[2018-05-22 21:35] sallar commented on #612
@sum01 I think I messed up and forgot to merge a branch :( Can you try master again?

[2018-05-23 11:36] sallar commented on #612
That's new from npm @sum01, I fixed most of the issues, I'll fix the rest soon. Some packages haven't released any updates

[2018-05-26 21:29] perry-mitchell commented on #611
Hi @dornenkrone - OneDrive is mentioned in our [roadmap](https://github.com/buttercup/roadmap/blob/master/roadmap/CLOUD_SERVICES.md#greenlit-solutions). It should be added to the core library before being implemented here, so I'll close this request for now.

[2018-05-26 21:29] #611 closed

[2018-05-26 21:31] perry-mitchell commented on #596
Added to our [roadmap](https://github.com/buttercup/roadmap/blob/master/roadmap/CLOUD_SERVICES.md#blockedpending-solutions). It should be added to the core library after an issue and discussion takes place there (or in the datasources repo).

[2018-05-26 21:31] #596 closed

[2018-05-26 21:50] #612 closed

[2018-05-26 21:51] sallar commented on #608
Hi @Sblop, this is something we are thinking about right now. We will update this issue with more information once we have more info :)

[2018-05-26 21:52] sallar commented on #607
@robbinhan this looks like an issue with npm... can you try again?

[2018-05-29 23:35] wxkylem commented on #606
Was there any other solutions to this problem? I completely uninstalled and  updated to 1.7 but am still not able to access my repo.

[2018-05-30 09:57] Akimace opened #615 "reduce the font size?"
v1.7.0 (desktop)

Hi
I looking for reduce the font size of my password list.
I have too many passwords and visualy it's hard to find the good one.
Maybe to have the possibility to change font size ? Or zoom out ?
Thanks in advance !
-------------------------FR--------------------------
Bonjour,
J'ai plusieurs mot de passes dans mon gestionnaire et c'est vraiment gainant de retrouver certains mot d

[2018-06-06 23:07] wxkylem commented on #606
@sallar I just wanted to let you know that I was able to solve my problem. By using my phone's butter cup app I temporary removed a password. That updated the dropbox file and allowed my computer app to start working again. I am not sure if the issue is with the dropbox sync or some wierd bug with buttercup.  Thanks for your quick response the other day though!

[2018-06-07 11:14] sallar commented on #606
@wxkylem Thanks for checking this. Then this is related to the ongoing issue on mobile: https://github.com/buttercup/buttercup-mobile/issues/78
I'll close this and we can track the progress there!

[2018-06-07 11:14] #606 closed

[2018-06-07 11:18] sallar commented on #615
@Akimace Hi! Can you explain a bit more what do you mean by Zoom Out?

[2018-06-07 12:08] Ravenheart opened #616 "Feature request: default password generator settings"
Hello everyone,

Is it possible to add an options menu where I can configure the default password generator settings?

[2018-06-09 00:53] robbinhan commented on #607
@sallar yes,I have been retried，and same the error

[2018-06-09 20:05] perry-mitchell commented on #616
Hi @Ravenheart - Unfortunately not yet.. Options hasn't been implemented yet: #140

Once that's completed this can be dealt with - thanks!

[2018-06-10 13:23] aesthicc opened #617 "user experience"
I've been using buttercup for a few weeks now and overall it's really nice but I would like to share some thoughts:

1. When I open buttercup i would just like to type in my password for my main vault instead of selecting it - a setting for this would be nice

2. When I start typing once I'm in my vault, buttercup doesn't:
	- go to a corresponding entry in the list
	- start the search function
It

[2018-06-11 08:19] Akimace commented on #615
I will try to explain with some screenshots ^^

![liste](https://user-images.githubusercontent.com/33452055/41220044-635e1ab2-6d60-11e8-8db2-449dafaf17b5.PNG)
prefering to see a list with small font than that :
![liste2](https://user-images.githubusercontent.com/33452055/41220093-8e4cc07a-6d60-11e8-9491-d94b30b5cb3f.PNG)
then, I don't need to scroll down

[2018-06-11 18:34] perry-mitchell commented on #617
Hi @aesthicc:

#124 does something like this. You can also use `Cmd+1` (or the index of the archive) to select it using the keyboard.

You can use `Cmd+F` to search.. I don't see any use in reading keystrokes adhoc.

I agree on this point. From a usability perspective you're more often going to create new entries/groups and not vaults. @sallar ?

[2018-06-11 18:39] perry-mitchell commented on #615
@Akimace Are you saying that you'd want to see more password entries in the user interface, so you don't have to scroll? So for this image:

![image](https://user-images.githubusercontent.com/3869469/41250474-b72a73f2-6dbf-11e8-9869-d3ea306cf7d6.png)

You mean the entries on the right?

I don't particularly see any harm in having an alternate view to show them in the same size as the Groups on the

[2018-06-11 20:01] aesthicc commented on #617
Hi @perry-mitchell
Thank you for the information.

Almost every app does this though so it makes sense from a continuity perspective. If I type "b" in finder it selects the first entry that starts with that letter. It's almost surprising when this doesn't happen. Thanks for considering!

[2018-06-12 10:29] Akimace commented on #615
and to get space we could hide the id
![capture](https://user-images.githubusercontent.com/33452055/41285404-4fdf0762-6e3c-11e8-9404-cf564036e4c4.PNG)

[2018-06-12 18:00] perry-mitchell commented on #615
Yep.. that's what I was thinking..

[2018-06-12 19:52] sallar commented on #617
@aesthicc @perry-mitchell

I like the idea about changing Cmd+N to creating a new entry instead of a new archive, since we wont be creating new archives so often. I think I'll do that soon.

About the letter capture on keyboard, I understand it would make it more "native"-looking and I would love to have it. For example like in Mac's finder or Windows explorer when you start typing in a list, the

[2018-06-14 14:58] sum01 commented on #612
Is a new tag going to be pushed soon, or should I create a patch using your untagged commits for the AUR?

[2018-06-14 17:41] perry-mitchell commented on #617
The problem with the keyboard capture is that it's fraught with potential issues. What happens if we don't recognise input focus properly and it thinks we're searching?

I don't think searching is so hard as to try to make it automatic when someone is typing.. it's simply not intuitive. More often then not, if someone is typing it's probably out of error, not knowing that it's a feature. IMO such

[2018-06-16 19:13] sallar commented on #612
@sum01 I did tag it again. Can you check if it works?

[2018-06-16 19:15] sallar commented on #607
@robbinhan I tested master a few times and it works. Can you check one more time and if it doesn't work, would you be able to tell us the OS you're using?

Also, it seems like when you npm install there are a few errors related to what you have shown in the logs, but those are harmless.

[2018-06-16 20:32] sum01 commented on #612
@sallar Indeed it built, thanks for tagging.

[2018-06-17 13:48] deadcoder0904 opened #618 "Do not prompt for Update again when Cancelled"
New update has prompted which has support for some language which is not useful for me. So when I click on **Not Now** when prompted for **Update** then it must not prompt it again every time I open the app.

Also, another feature request must be a way to Skip All Updates.

[2018-06-17 14:19] perry-mitchell commented on #618
Hi @deadcoder0904 - I'm not sure if we exactly want to support skipping versions. Sure, single-language updates can be frustrating when they're not relevant, but many applications **force** updates and just prompt for a restart. Often times patch updates will be for security features, and these we do not want people to skip - by using our software our brand and reputation are on the line when it c

[2018-06-17 15:14] deadcoder0904 commented on #618
Yeah exactly this update was the exception but its irritating that it always prompts up for updates. A **Skip Update** option is better IMHO.

At least as a user, I think its much better because I open ButterCup at least 10 times a day.

From a dev perspective, yeah security updates are nice. Also, I like auto-updates like VSCode does but I understand you don't want to go that way :)

I love Butte

[2018-06-18 05:07] perry-mitchell commented on #618
Thank you so much! That’s really awesome to hear. We appreciate the feedback.

Perhaps some option for devs to publish updates that can be skipped and updates that cannot? These language patches could easily be skipped for some whilst security updates would be mandatory.

There might be some nicer way to prompt, as well. For instance we could prompt only for important updates, and the other less i

[2018-06-18 05:46] deadcoder0904 commented on #618
Yeah that sounds pretty cool. Even if you guys abandon maintaining it, I'll still use it. Its reached at a point where everything works pretty fine for me 😂

Thank you for making it :)

[2018-06-22 17:14] sallar opened #619 "Archive is added twice after entering the password once wrong and once right"
The title pretty much says it all

[2018-06-22 17:22] sallar opened #620 "Use CMD+N to create a new entry instead of an archive"
This is from the context of #617

[2018-06-22 17:59] sallar commented on #597
This is done.

[2018-06-22 17:59] #597 closed

[2018-06-22 18:00] sallar commented on #619
Closes in favor of #522

[2018-06-22 18:00] #619 closed

[2018-06-22 18:28] #522 closed

[2018-06-22 18:28] #620 closed

[2018-06-23 22:13] perry-mitchell opened #623 "Update core to 2.0"
Updating the core library to 2.0 will allow for easier encryption upgrades in the near future.

[2018-06-26 08:02] perry-mitchell opened #624 "[Ubuntu 18] Broken icon in dock"
Noticed that the icon is broken on Ubuntu 18:

![image](https://user-images.githubusercontent.com/3869469/41897535-4688b844-7930-11e8-8348-fb7e2ddeef34.png)

_(The Buttercup icon does not illuminate, even though it should. The icon with the crossed-circle symbol to the right is the Bcup instance)_

[2018-06-26 13:14] exside opened #625 "If Archive unlocked, Master Password can be changed without knowing the current one"
Title says it all, once a vault is unlocked and one tries to change the master password, there is no need to know the original master password, buttercup just allows to specify a new one, no questions asked. This is especially problematic with the missing auto-lock feature.

[2018-06-26 13:16] exside commented on #608
I'd like to see file attachments in general, not only images, but the problem with this is always database bloat...

[2018-06-26 13:18] exside commented on #587
This is one critically missing feature, I'd say high priority =)

[2018-06-26 13:21] exside commented on #301
Useful feature

[2018-06-26 13:29] perry-mitchell commented on #625
Good point @exside! We could easily prompt for the original password. I would say however that the damage is done if an _intruder_ were to be in front of an unlocked archive. Changing the master password would be the least of the owner's worries. Hence the Priority:High rating rather than critical. Autolock is definitely a must.

[2018-06-26 13:30] perry-mitchell commented on #608
@exside File attachments will most likely _not_ be included in the archive file, because of bloat like you said. They'll most likely be encrypted separately and stored in a relative location to the archive file (hidden subfolder most likely).

[2018-06-27 21:51] toniobido opened #626 "Copied password remains in clipboard after clearing-time"
Hi,
I noticed that the copied passwords remain in the clipboard.
Also in the version windows 10 17704 (insider) there is a history of the clipboard, and we find the password in clear.

do you think that it will be possible to correct this ?

![image](https://user-images.githubusercontent.com/14336821/42001229-ab4199ac-7a63-11e8-81a6-725d208abf19.png)

[2018-06-28 06:48] perry-mitchell commented on #626
The clipboard should automatically be cleared after some time.. 10-15 seconds or something like that. If it doesn’t automatically clear then it’s definitely a bug with that function..

[2018-06-28 07:06] toniobido commented on #626
Yes I know,
It's why I notify it.

Even in Windows 10 1803 (stable) after 3 minutes clipboard remains copied password

[2018-06-28 08:24] sallar commented on #626
I’m guessing that Windows ignores attempts at copying an empty string to clipboard, which is how we clear the clipboard. We should definitely improve this. Wondering if Electron provides any APIs to clear the clipboard.

But also we can’t really clear their entire history. Can we?

[2018-06-28 18:10] perry-mitchell opened #627 "Incremental update notes"
Currently, if the user is more than 1 version behind the latest version, they only see the changelog (update notice) for the _latest_ version. They should see all of the versions between as well.

[2018-06-28 20:28] asantisteve opened #628 "Scroll don't work"

[2018-06-28 20:31] #628 closed

[2018-07-11 20:15] n8v8R commented on #602
Well, isn't it the ol' unfixed https://github.com/buttercup/buttercup-desktop/issues/502 ?

[2018-07-11 20:19] n8v8R commented on #502
Meantime reached BC 1.8 and W b16288.547 and the issue is present as ever

[2018-07-11 20:32] n8v8R commented on #502
This open now for 4 months, any outlook when there might be time?

The other statement about experience is quite frank but honest at least but a bit shocking all the same, for a password handling app not implementing Address Space Layout Randomization.

BC is the sole app that has this issue. Anyway, perhaps time to move on then as opposed to be moaning.
Coding is not wihtin my portfolio and thus

[2018-07-12 04:29] perry-mitchell commented on #502
@n8v8R I think that's a cheap shot.. You're the only person so far to have mentioned this issue, and it's still obscure enough that we haven't ranked it as a higher prio.

The funny thing is many people phrase their disappointment like this.. that they're surprised we don't implement **feature A** or **security requirement B**. Don't get me wrong, we want all of this.. And we'd be only too happy f

[2018-07-12 04:36] perry-mitchell commented on #502
@n8v8R I'll reach out on the issue to see what others think on the matter, but at this early stage I'd guess this issue is with Electron, the foundation. If this is the case then we simply can't do anything about the issue for now.

[2018-07-13 05:12] perry-mitchell commented on #502
I'll keep this open as we want a resolution.

[2018-07-14 06:02] deadcoder0904 commented on #626
No its not only for Windows, its for my Mac as well. I used some other software before ButterCup & as soon as you closed the app, it used to clear the password. So what you can do is after 15 seconds, clear password but if someone quits the app then before quitting copy empty string to their clipboard

[2018-07-14 06:04] deadcoder0904 opened #629 "Why not open Password Prompt directly rather then having to press CMD+1 everytime?"
Is it for Security reasons or why not just open Password Prompt directly?

[2018-07-18 08:48] xiorcal opened #630 "Add a reference to another password"
I'm trying to migrate from keepass to buttercup. import works very well wich is very good!

but buttercup seems to missed an important (to me) feature from keepass : add a reference from another entry.

my use case : I have an ldap authentication that I use in numerous of compagny applications and I don't want to update every single entry everytime my password change.

with keepass it is done easi

[2018-07-21 11:54] perry-mitchell commented on #630
Hi @xiorcal - I'm not sure what you mean by references here. I guess you're only talking about imported data, right? If you mean for the purpose of updating and overwriting old passwords and values, that could definitely be achieved. It'd require some substantial additions to the importer project, however.

[2018-07-23 13:23] leongrdic opened #631 "can't unlock my archive"
I tried opening my local archive on my laptop today and I keep getting this message:
[code]
I tried creating a new archive and opening it and it works regularly. Also, when I type a wrong password I get a different error message so that isn't the problem. How am I supposed to access my passwords now?
Thanks!

[2018-07-23 14:16] perry-mitchell commented on #631
Hi. Could you please confirm your desktop app version? This should be solved in the latest release.

[2018-07-23 14:33] leongrdic commented on #631
the version is 1.8.0 windows

[2018-07-23 17:02] perry-mitchell commented on #631
Ok, well the issue might be elsewhere. Are you able to attach a stacktrace at all? This could be done by opening the I inspector (in the menu). This would help us narrow down the bug.

[2018-07-25 11:02] leongrdic commented on #631
The console doesn't throw any errors, and I'm not really able to do anything in the dev tools as the js bundle is so big the dev tools become unresponsive when trying to do any debugging.

[2018-07-25 11:06] perry-mitchell commented on #631
It’s hopefully not necessary in this case.. the stack trace should be printed hopefully. It may be on the nodejs side so perhaps it could be possible to see if you run the app from the command line?

[2018-07-25 11:10] leongrdic commented on #631
just tried it and there's no trace in node console.. i only get the 'restoring state' and 'checking for update' messages. is there perhaps a debug flag i could enable?

[2018-07-25 14:50] conovor opened #632 "unable to copy / past a full group"
Hello,

I would like to copy / pas a group with several entry to another location, but it doesn't work. Nothing happen. I hope it's a bug and not a Buttercup limitation.

best regards

[2018-07-25 15:56] sallar commented on #632
@conovor This is not currently supported. I'll mark this as available so hopefully either we would have more time and bandwidth to do it or someone else will send a PR :)

[2018-07-26 20:05] #623 closed

[2018-07-26 20:43] sallar commented on #631
Hi @leongrdic, could you please update Buttercup and see if the new version works for you? The latest version is 1.9.0

[2018-07-26 23:01] leongrdic commented on #631
problem solved! it unlocks properly now. thank you :)

[2018-07-27 06:55] sallar commented on #631
@leongrdic cheers! closing this now.

[2018-07-27 06:55] #631 closed

[2018-07-27 07:01] sallar commented on #602
@n8v8R @jdrch if these two issues are the same should we close this in favor of the other one?

[2018-07-27 07:04] sallar commented on #624
@perry-mitchell Hey mate could you try 1.9.0 to see if it has the same issue? The Electron version is bumped to its latest so it *might* have solved this too

[2018-07-27 07:18] sallar commented on #607
I'm closing this issue since we havent heard from you and the master works in different systems. Please let us know if it's still broken so we can re-open.

[2018-07-27 07:18] #607 closed

[2018-07-27 09:38] n8v8R commented on #602
it is for the developer to decide when/which issues are duplicate and reference/merge/close such accordingly.

if the new version is meant to be version 1.9 than the issue is persistent and the developer would know this from testing and not musing here whether it been fixed.

it is not good that the [developer appears a bit ignorant](https://www.reddit.com/r/electronjs/comments/8y6orr/app_crashing

[2018-07-27 10:01] perry-mitchell commented on #602
@n8v8R Look, I'm not familiar with every possible platform feature on Windows Mac and Linux. I understand what we're building, and rely on the help of the community and other developers to see us through to the best possible implementation. I posted in Reddit seeking help as it was the right thing to do when I don't personally have experience with ASLR.

These comments are not helpful, and I'd kin

[2018-07-27 10:02] perry-mitchell commented on #602
This does appear to be a dupe of #502, so I'll close this in favour.

[2018-07-27 10:02] #602 closed

[2018-07-27 10:10] perry-mitchell commented on #624
@sallar Sure! I'll check when I'm back at work.. So might still be a week sorry. Don't have a working Ubuntu installation at home right now.

[2018-07-27 10:38] n8v8R commented on #502
@perry-mitchell

not sure how you conclude me straying from the subject or not being helpful.

What is not helpful is that this not getting fixed for months and then the priority being lowered even.
Next thing you know there is the curious Reddit post as opposed of getting in touch with the Electron devel instead, considering it being the supposed root cause in your reckoning.
How does that make s

[2018-07-27 11:42] perry-mitchell commented on #502
@n8v8R This is getting rediculous. I’ve already admitted to not being familiar with ASLR, and have explained numerous times that right now, this has not been a priority for us. I’m not going to go through why again.

There have been other security related items that have taken precedence, and on top of that, Windows is currently not the primary system we target or test on. We do understand that th

[2018-07-28 14:01] leongrdic opened #634 "prevent loss of unsaved new entry"
when adding a new entry, I often find myself forgetting to actually save it, and later switching to another (already existing) entry to copy a different password. this way i lose the new, unsaved entry.
a possible solution to avoid this problem would be a dialog that appears when trying to open another entry while the current one isn't saved, saying "you didn't save your entry, you will lose the d

[2018-07-28 20:36] perry-mitchell commented on #278
An update on this: Exporting will soon be available to CSV. No other export formats are planned at this stage.

[2018-07-28 20:50] perry-mitchell commented on #634
I like this idea. Editing could almost grey-out/disable the other items to prevent this, or a dialog like you suggested.

What do you think @sallar ?

[2018-07-28 20:51] perry-mitchell commented on #630
@xiorcal Would you be able to clarify what you mean?

[2018-07-29 08:14] perry-mitchell commented on #502
Confirmed that overriding the only ASLR setting that appears to be off by default (windows 10), the issue occurs immediately:

![image](https://user-images.githubusercontent.com/3869469/43364316-82263606-9320-11e8-8ff3-7921d5eb22ae.png)

[2018-07-29 09:11] sallar commented on #634
@perry-mitchell fortunately we are using redux-form so we *can* persist the data and show it again later, but IMO showing a dialog to confirm navigating away is a better option. Because the goal here would be to prevent the user from "forgetting" right?

[2018-07-29 09:14] sallar commented on #630
@perry-mitchell by referencing they mean inserting a pointer to a field in another entry. For example this is a feature in Keepass or other software like Paw (for REST resting). Instead of typing a value directly in the entry, you can "insert a reference" that points to a field of another entry. So when the other entry's password changes, all the entries that have a reference to that field will up

[2018-07-29 10:49] #278 closed

[2018-07-29 11:05] perry-mitchell commented on #630
Ah, makes sense.. Pretty hardcore feature though. Might need some work in core.

[2018-07-30 16:48] pelonchasva opened #636 "Fields order is wrong and password is not showing for some entries"
Hello devs,

I just updated to version 1.9.0, and I just noticed a weird behavior in the application for some entries, I tried to get my password for one of my accounts but it is not showing, and the order of the fields got mixed up, now the Password field is at the top, the username is below that, and my custom fields are in the wrong order too. If I click on edit, there are multiple custom field

[2018-07-30 16:51] perry-mitchell commented on #636
Hi,

Sorry to hear! Yes I would suggest downgrading until further notice. We’ll try to check this out asap. Any chance you could provide a screenshot without showing secure data? Not sure how we could reproduce this issue.

[2018-07-30 17:55] pelonchasva commented on #636
Hi,

No problem about that, I just downgraded to version 1.8.0 and it is working fine now, attached you can see how the data was changed.

**Wrong Fields Order**
![wrong fields order](https://user-images.githubusercontent.com/4713147/43414062-acefd8ee-93ff-11e8-9293-2eb86b2da9c2.png)
---
**Correct Fields Order**
![correct fields order](https://user-images.githubusercontent.com/4713147/43414063-ad0

[2018-07-30 19:29] perry-mitchell commented on #636
Thanks for the screenshots.. that’s actually very helpful. I think I know the cause.

Regarding your password however - you said you weren’t able to retrieve it? Not sure if we’re actually looking at 2 different issues here - the field order and your password not being retrievable.

[2018-07-30 20:40] pelonchasva commented on #636
Yeah, if you see, on the first screenshot the password field doesn't show the dots for the password, and the icons to show/hide and copy the password were missing too, I think this should be on the same issue since everything is related somehow, but I'm not quite sure.

Although, on the previous version, everything works normal, thankfully, the entry values were not deleted from my file, so this m

[2018-07-31 07:27] sallar commented on #636
@pelonchasva so in the new version the password shows up as raw text?

[2018-07-31 09:13] xiorcal commented on #630
it's exactly what @sallar described. sorry for the delay, I was away from any computer.

[2018-07-31 14:12] pelonchasva commented on #636
HI Sallar,

On the new version, the password doesn't even show at all, it shows up as a blank field and the show/hide and copy buttons doesn't show on hover too.

[2018-07-31 17:30] #636 closed

[2018-07-31 17:31] sallar commented on #636
@pelonchasva We fixed the issue and will release 1.10.0 soon! Watch out for new updates :)

[2018-08-01 12:18] conovor opened #638 "search entry not open sub-folders location"
Hello,

I love Buttercup but we have a big trouble with the search function in my team :

1. I search something and I have several results. I click on one result
2. the looking result is on a sub-folder, the sub-folder not open automaticly, so I cannot find where is the looking result in the folder tree (because I have several sub-folder)

Bug : the folder and sub-folder should be open and change

[2018-08-02 08:29] sallar commented on #638
Hi @conovor. Thanks a lot. Yes this is an issue. We will update this task with more information once we start working on it :)

[2018-08-06 06:38] perry-mitchell opened #641 "[Linux] Checking for updates fails"
Updates are not notified on desktop on ubuntu (18). The following error occurs:

[code]

Version is currently 1.8.

[2018-08-06 06:39] perry-mitchell commented on #641
@sallar Any idea what might be happening here? Not sure why the file is downloaded to disk.. Would think that it could/should just go to memory?

[2018-08-06 16:54] perry-mitchell commented on #502
Ok, I think I cracked it. Seems that the build environment plays a part in the problem here. Our binaries are built on Mac for Mac, Linux and Windows. Mac and Linux are easy obviously.. the build systems are of course radically different but there doesn't seem to be any incompatibilities. Building Windows binaries on a Mac startled me when I first heard of it, but it seems like NSIS does a good jo

[2018-08-07 17:50] phineas0fog opened #643 "segmentation fault"
Hello :)
Since I've updated buttercup, I get a segfault when I try to launch it :/ This is a VERY big problem cause because of this problem, I can't access to my servers (because of the pass etc. And yes, no other solution). I use `strace` to see if I can correct the problem myself, but I don't think.

`buttercup` try to access to the file `/etc/gnutls/default-priorities` that don't exist on my sy

[2018-08-08 07:15] sallar commented on #643
Hi @phineas0fog thanks for letting us know. I will look into this, since I havent used Archlinux before and we haven't this error in other systems, I have to research a bit.

Thanks
Sallar

[2018-08-08 20:45] phineas0fog commented on #643
Hello,
I just test with an old version of buttercup (on archlinux too, I haven't updated anything in a few days) and the `strace` command don't show any things related to the missing file from my previous post.

I hope this can help ;)

[2018-08-09 10:25] perry-mitchell commented on #574
This is still the case on version 1.10

[2018-08-09 10:25] perry-mitchell commented on #502
Quick update: The issue seems to be with one or some of the signing tools used by Electron builder. We're working with that team to debug the problem.

[2018-08-09 10:28] perry-mitchell commented on #643
Arch is unfortunately not part of our testing suite, so getting anything done here will be difficult without contributed effort. We'd appreciate any help you might provide @phineas0fog - debugging this on your machine would most likely be really helpful. If there's some dependency missing on arch (due to the fact that arch runs more lean than other linux distros) perhaps we can find out what it is

[2018-08-09 10:32] perry-mitchell commented on #643
@phineas0fog before we continue, please try the solution posted [here](https://www.reddit.com/r/archlinux/comments/957v3k/segfaults_at_startup_on_a_bunch_of_apps_after/) to see if that helps.

[2018-08-09 11:35] fmommeja commented on #625
Fully agree @perry-mitchell !
This is high security concern and shouldn't be allowed IMHO because there's no time limited session.

[2018-08-13 10:36] Zjemm commented on #643
same issue here on arch
is there anything i can check to help out?

[2018-08-13 14:26] perry-mitchell commented on #643
@Zjemm You could try out that solution I linked in the previous post, or you could perhaps open a dev environment and try to debug it there. Any information would help..

[2018-08-17 12:39] Zjemm commented on #643
glibc 2.28-4 is released, and now it starts normal with that new version :)

[2018-08-19 09:17] Jaimefs opened #644 "UI glitch: Rendering issues on some machines"
Hello:

I open a vault and the password window no desapear, it goes to background. I have this problem from last update.

![Error screenshot ](https://user-images.githubusercontent.com/36184710/44307335-d8ab4d00-a3a0-11e8-9ecb-266a2155d21e.png)

I use MacOS version 10.13.6.

I love your program. Thanks a lot.

[2018-08-20 08:10] sallar commented on #644
Hi @Jaimefs. So if you download a previous release the problem goes away?

[2018-08-21 05:41] Jaimefs commented on #644
Hello:

I download and install a previous release. This release works fine before update. But now i have de same problem.

![captura de pantalla 2018-08-21 a las 7 34 56](https://user-images.githubusercontent.com/36184710/44382424-1af59b00-a515-11e8-8728-e342785f38e0.png)

Thank a lot.

[2018-08-21 05:48] perry-mitchell commented on #644
Renamed for clarity.

[2018-08-21 05:51] perry-mitchell commented on #643
Hi @Zjemm - Great news! I'll close this and will make a note on our readme.

With regards to the ENOENT error, we have a bug for that: #641.

If you could create a new issue for the group-dragging issue, that'd be really helpful!

[2018-08-21 05:51] #643 closed

[2018-08-22 17:48] perry-mitchell commented on #644
@Jaimefs We've been able to reproduce this issue on one of our macbooks, and it looks like some kind of rendering issue from the browser/electron side. Updating the electron version didn't seem to help at all.

[2018-08-24 10:53] perry-mitchell commented on #644
Wondering if it might be some rendering issue to do with lower-spec/older GPUs on Mac:

 * electron/electron#13303
 * atom/atom#17694

Someone also mentioned that not having a background on the `<body>` caused weird UI issues when scrolling.. Might be worth to try setting it to something as well if it isn't already.

[2018-08-24 16:45] #644 closed

[2018-08-27 05:15] perry-mitchell commented on #644
Solution was to roll back Electron to the previous major version. Seems that something with v2 has broken rendering on some macs.

[2018-08-27 09:28] bogdansuditu opened #646 "[ Feature Request ] Default size for labels is too small"
First of all, thanks for this wonderful applications. I had no issues with it so far.

However there's one thing that for me is a deal breaker. I have a lot of data imported from keepass and almost all records are containing one field called Notes (shouldn't matter the name).

In buttercup (all variants, mobile or desktop) the default display for such field is one small text field. I store in that

[2018-08-27 11:27] sallar commented on #646
Hey @bogdansuditu thanks :)

I understand. This is something that we're working on. We're changing the way we display the fields and this issue will be fixed once that's implemented :) We'll update this issue.

[2018-08-29 05:29] perry-mitchell opened #647 "Snap builds fail"
Snap builds are failing currently. This is caused by electron-builder's snap build process which is currently failing even after a clean install of node_modules and upgrading electron-builder.

[2018-08-29 05:29] perry-mitchell commented on #647
@sallar Would you mind updating the description?

[2018-08-31 06:31] NodokaMurmevent opened #648 "ssl certificate website expired"
sorry it's not the good place for this but your website have an ssl error

https://i.imgur.com/LhssgNm.png

[2018-08-31 09:55] perry-mitchell commented on #648
Yes, sorry.. This was just fixed. This problem will soon go away when we migrate our website.

[2018-08-31 09:55] #648 closed

[2018-08-31 09:58] perry-mitchell opened #649 "Cmd/Ctrl + N should create new entry"
Currently Cmd+N creates a new archive, which is maybe less useful then creating a new entry.

[2018-08-31 09:58] perry-mitchell commented on #617
I'm going to close this issue as it's too general. The first point is already covered in another issue, and the other points are in contention. I did create #649 for the keyboard shortcut, however.

[2018-08-31 09:58] #617 closed

[2018-08-31 09:59] perry-mitchell commented on #649
Whoops - closing as duplicate of #620

[2018-08-31 09:59] #649 closed

[2018-08-31 12:51] Zjemm commented on #567
I see no tray icon at all on my Budgie-desktop where as enpass does show up. and there is no settings page to enable or disable this..... is it set in some config file?

[2018-09-01 11:35] perry-mitchell commented on #567
@Zjemm There should be a context menu in the application window to show the tray icon, if I remember correctly. I don’t configure this myself usually.

[2018-09-01 12:15] Zjemm commented on #567
There is an option called "diplay in menu bar" but thats on by default and doesnt do anything
how can i troubleshoot that?
i also downloaded the appimage but no difference there

[2018-09-01 19:15] perry-mitchell commented on #567
What do you mean by “budgie” desktop? Maybe you could debug it in the dev environment. You’d need to install Nodejs 8 or 10, clone the repo and open 2 terminals. In one run “npm run start:renderer” and in the other “npm run start:main”. You’d have to do some tweaking with the code to see why it doesn’t show..

[2018-09-01 19:16] perry-mitchell commented on #567
Understandable if the dev environment doesn’t sound comfortable. Let us know some more details about your system to see what the problem may be..

[2018-09-01 19:18] Zjemm commented on #567
I'll see what is can do

Budgie desktop is a DE from solusos. It's based on gnome

I'm running budgie on arch linux

[2018-09-04 06:34] Zjemm commented on #567
Hmm running dev is not working for me at the moment, can't seem to get that going.
Can we do something else to troubleshoot this?

i'm running:
arch linux
Budgie-desktop
and the buttercup appimage (latest version at this moment)

[2018-09-04 10:10] perry-mitchell commented on #567
I'm wondering if it's something to do with the `AppImage` build. AppImage is an executable, and not perfectly designed for installing applications. Some features like **updating** are not available with this installation method - Perhaps the persistence of the app, along with the tray icon, simply doesn't function properly.

@sallar do you know where the app is extracted to? It could be tmp or som

[2018-09-04 10:42] Zjemm commented on #567
well i had the same problem with the installer version, i installed it via the arch AUR. then after that i tried the appimage

[2018-09-04 13:58] sallar commented on #567
@perry-mitchell @Zjemm based on my knowledge AppImage actually doesnt extract anywhere and just runs like an executable... I have to investigate further.

[2018-09-05 14:41] reedpro opened #650 "Can't open buttercup after changing to higher resolution monitor"
After switching out to a higher resolution desktop, buttercup shows as open on my taskbar, but I can't get it to actually show. I have tried changing to a lower resolution, disconnecting the new monitor, restarting windows, and selecting the app and using windows+arrows to try and move it around

[2018-09-05 14:45] reedpro commented on #650
I've also tried uninstalling and reinstalling, downgrading and upgrading again, and opening a new desktop and moving buttercup there.

[2018-09-05 14:49] reedpro commented on #650
I eventually got it to work by hovering over the icon on the taskbar, which opened the preview, right clicking on the preview, and hitting maximize.

Sorry if I seem like a spaz for this issue, I've been struggling with it for a few days, and at the very least, if this happens to someone else they might see this and figure it out

[2018-09-06 13:13] perry-mitchell commented on #650
Hi @reedpro - Thanks for posting the issue.. glad you got it sorted! Off-monitor windows can be tricky sometimes. [Here's a link on how to get them back](https://www.howtogeek.com/howto/windows/bring-misplaced-off-screen-windows-back-to-your-desktop-keyboard-trick/) if you happen to lose any windows.

I'll close this as it's not related to Buttercup in particular.

[2018-09-06 13:13] #650 closed

[2018-09-06 18:29] perry-mitchell commented on #574
This is also present on Windows..

[2018-09-06 20:02] reedpro commented on #650
I'm ok with the ticket being closed, but i feel it must be related to
buttercup, since none of the steps listed here worked and even uninstalling
reinstalling didnt fix the issue

On Thu, Sep 6, 2018, 9:13 AM Perry Mitchell, <notifications@github.com>
wrote:

[2018-09-06 20:02] sallar commented on #574
@perry-mitchell I'll take a look at this. I just need to reinstall my VM

[2018-09-09 14:27] franco27 opened #651 "search bar directly on the main interface: suggestion"
Hello

I have just discovered your software Buttercup 1.10.1. (version Windows) (on Windows 10 x64)

To search for an entry or to search for a password, it would have been wise to propose a search bar directly in the main window.
(I saw in the menu a "search" entry but is not practical to use)

-search results are lost after selection
thank you for proposing your software

[2018-09-09 18:04] perry-mitchell commented on #651
Hi @franco27 - The current search dialog was a design decision. We decided that having a search results page was not the best approach to searching for entries. I can definitely see your point regarding having search results shown on a page where they can be viewed separately. We might head back in that direction at some point, so I'll leave this issue open. Thanks!

[2018-09-09 21:15] franco27 commented on #651
Thank you for your reply.

[2018-09-10 06:16] perry-mitchell opened #652 "[Linux] Tray icon should be coloured"
Perhaps having a coloured icon in the tray would look better on linux?

![image](https://user-images.githubusercontent.com/3869469/45279540-20be1b00-b4da-11e8-81ff-6ae589172641.png)

Or, having the option to change. ownCloud supports this:

![image](https://user-images.githubusercontent.com/3869469/45279566-33385480-b4da-11e8-9a32-f8e1dfd69a2c.png)

[2018-09-10 08:02] sallar commented on #652
@perry-mitchell great idea we can add the option when we have the settings panel too.

[2018-09-10 09:02] Zjemm commented on #567
@perry-mitchell @sallar anything i could collect to help troubleshooting?

[2018-09-21 08:50] nickbe opened #655 "Is there a switch to store the configuration within the buttercup folder"
I'd like to keep the buttercup installation on a usb stick.
Buttercup seems to evaluate the APPDATA environment variable and store its configuration folder there.

So it's usually enough to use the following batch from within the buttercup folder when I want to keep my configuration folder also local,

[code]
Curiously enough it even worked ONCE, but after that buttercup always uses the original a

[2018-09-23 18:50] perry-mitchell commented on #655
This is a really good point, and I'll admit I haven't toyed with portability myself yet. I would definitely regard it as a higher-than-average priority. Any ideas about this particular workaround @sallar?

We had planned to release a purely portable version (#429), but that hasn't taken root yet.

[2018-09-23 18:51] perry-mitchell commented on #429
This would require config files to be written in the working dir of the app, as well.. No point writing to the system when in portable mode.

[2018-09-23 21:47] nickbe commented on #655
Well it IS rather simple for windows. Since you're writing the data to the APPDATA folder, the only question is: how do you get the APPDATA path in the first place? If you switch to evaluating the APPDATA environment variable the the batch above would just work fine and we'd have a portable version very easily 😁

[2018-09-27 14:01] warnerbryce opened #656 "Web APP - some bugs with WebDav and Nextcloud vault"
Hello to the ButterCup Team,

I'm facing issues since a month now with the WebApp version of ButterCup.
I'm using firefox and having BC V1.11.1 and the bug was present with older version.

I can't connect to my servers using WebDav or Nextcloud choice.
I have a 401 error answer from the Console of Firefox, but i have nothing on the log of my Nextcloud.
Even if i type a good or bad password i have

[2018-09-29 13:50] skriwell opened #658 "Error: Connection failed with Android app and NextCloud with .ovh extension"
Hello,
(My English is not good, so it's a translation of Google)
With the Android app, I can not connect to my NexCloud. I have the following message: "Error: Connection failed"
By cons with the desktop app, it works.
My Nexcloud uses the .ovh extension
The problem can come from there?

Thanks

[2018-09-29 16:48] perry-mitchell commented on #655
I've accepted this as an issue, as it would be a great feature to have. I currently don't have time to implement right now but PRs are welcome.

[2018-09-29 16:50] perry-mitchell commented on #656
Hi @warnerbryce - Unfortunately this is the desktop application, and not the right place to post issues regarding the [browser extension](https://github.com/buttercup/buttercup-browser-extension). I'll close this issue.

If you still have issues you can open an issue there. But please remember that we cannot possibly reproduce every connection issue, and usually except only demonstrable bugs. Test

[2018-09-29 16:50] #656 closed

[2018-09-29 16:51] perry-mitchell commented on #658
Hi, unfortunately this is not the right place for mobile issues. That would be on our [mobile repo](https://github.com/buttercup/buttercup-mobile).

[2018-09-29 16:51] #658 closed

[2018-10-01 13:03] zengxp0605 opened #659 "Can't load dropbox files on windows10"
I try many times use buttercup, and login Dropbox right , the file list still empty. But I can  create new archive use this application, and the archive is correct created in Dropbox.

- buttercup-desktop version 1.10.1
![nu3 m _qfob jv785cmkw6](https://user-images.githubusercontent.com/8370203/46289391-8c684500-c5bb-11e8-91d5-f8c19669514c.png)

- windows Dropbox file list
![mf he0bio8e53sh 0e 8lf

[2018-10-01 16:44] perry-mitchell commented on #659
![image](https://user-images.githubusercontent.com/3869469/46302643-465ab380-c5b2-11e8-95d8-d5a63034cc20.png)

Hmm.. Seems that it works fine here with the latest version (names removed for security).

Are you sure that you reloaded the dialog _after_ you put the buttercup vault in there?

[2018-10-01 17:27] sallar commented on #659
@zengxp0605 can you please press `ctrl+shift+I` and see if there's any errors in the console tab of the developer console that shows up?

[2018-10-01 23:11] zengxp0605 commented on #659
Sorry, this seems to be my network problems. The error is `connect ETIMEDOUT 162.125.82.7:443`

![image](https://user-images.githubusercontent.com/8370203/46320667-0deac200-c612-11e8-9bc2-afa518f981fc.png)

[2018-10-02 13:37] perry-mitchell commented on #659
Hmm.. I guess we should be throwing an error for that. A dialog would help here 😅

[2018-10-04 14:49] nickbe opened #660 "How can I disable automatic update checks?"
Any option to do this?

[2018-10-05 19:56] nickbe commented on #524
Wouldn't it be nice to simply be able and change the icons manually?

[2018-10-06 12:40] Zjemm commented on #567
@perry-mitchell @sallar
ive tried the following:

appimage on:
solus-budgie and solus-mate, no tray icon
ubuntu-budgie, ubuntu vanilla no tray icon

then i installed the full client:
ubuntu-budgie, ubuntu vanilla YES tray icon

then i tried on arch (which i'm using)
arch with budgie NO tray icon
installed via the AUR because there is no official package. and i think the problem might just be in th

[2018-10-06 14:36] perry-mitchell commented on #524
@nickbe Absolutely! I would say that the automatic icons should be the base functionality and custom icons be a feature. It's just that storing data in vault files is a tricky concept and we're not sure how that should be done right now.

[2018-10-06 14:51] perry-mitchell commented on #660
There will be _partial_ support for this in #618. We won't be adding functionality to silence all updates: We don't want a situation where people are using outdated software when potential security vulnerabilities are identified and patch.

We'll allow users to silence non-vital updates, but not critical ones. I'll close this in favour of #618.

[2018-10-06 14:51] #660 closed

[2018-10-06 14:52] perry-mitchell commented on #659
@zengxp0605 Can you confirm that this is a network issue where you're not able to access dropbox?

[2018-10-11 20:29] waguirre opened #661 "Connect cloud dropbox"
Problem connect cloud dropbox

![image](https://user-images.githubusercontent.com/2904511/46831938-67699400-cd6a-11e8-891d-1f997057e958.png)

[2018-10-12 17:50] perry-mitchell commented on #661
@waguirre Please include more information, like what version of Windows, exact steps to reproduce the issue, which version of Buttercup. Have you tried more than once?

Consider that the information you provide should be enough to reproduce the issue. I've not been able to see Dropbox fail like this.

[2018-10-12 17:51] perry-mitchell commented on #659
Closing due to inactivity. Judging by the most recent screenshot, this was most likely a network issue.

[2018-10-12 17:51] #659 closed

[2018-10-12 17:53] perry-mitchell opened #662 "No error message when network errors occur"
In #659 a network error occurred when connecting a new cloud source, but no dialog appeared.

[2018-10-12 17:54] perry-mitchell commented on #339
Recent tests on High Sierra have shown that there isn't an issue any longer.

[2018-10-12 17:54] #339 closed

[2018-10-12 21:37] evileumas commented on #661
I have the same issue.
SO: Windows 10 version 1803 OS Build 17124.345
buttercup: v1.10.2

**Steps to reproduce:**
1. Connect cloud sources
2. Select Dropbox
3. Click on AUTHENTICATE WITH DROPBOX
4. Enter Credentials and Sign in
![butter_cup](https://user-images.githubusercontent.com/7860597/46894527-ad396180-ce29-11e8-97db-07dca9dc53c1.PNG)

If you close the pop up you get
![butter_cup_2](https://

[2018-10-12 22:02] evileumas commented on #661
@perry-mitchell This error only happens on v1.10.2, I just tried on v1.10.1 and Dropbox works fine.

[2018-10-13 08:45] Darkblader24 commented on #661
I have the same issue on v1.10.2.
I tried to connect to Dropbox but after I authorized Butterfly to use Dropbox it just redirects to the homepage of Buttercup and nothing happens. If I close the window I get the error message that the conntection to Dropbox failed.

[2018-10-13 08:58] Darkblader24 opened #663 "[ Suggestion ] Add URL as default custom field"
First of all, thank you for this wonderful password manager!

Now to my suggestion:
I add the custom field called URL to pretty much every single entry I make. I'm currently porting all my passwords over to Buttercup and it's really annoying having to add the custom field URL over and over again. It would be much simpler to remove it when I don't want it.
Maybe let users create a list of default c

[2018-10-13 14:25] Thomazella opened #664 "[question] mobile, ui, ux, stack"
Hi guys :)

The password manager is great! Really like it. I'm considering contributing to the project and I have a few questions

- It uses react and electron right? With redux-thunk.
- Do you think a react native version/mobile version is feasible? Does it exist already?
- Would you be open to discussing the UI design and UX? I think there's room to improve it.

Cheers :)

[2018-10-13 15:06] sallar commented on #664
Hi @Thomazella!
A mobile version is available for Android and iOS. You can find it from here: https://github.com/buttercup/buttercup-mobile

We are working on a redesign of our UIs starting with the browser extensions. But we welcome any UX related discussions and ideas :)